dev/AdManagerClient/Web References/GenreGroupServicePloxy/GenreGroupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetGenreGroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreGroupModel" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GenreGroupModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:AdGroupModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="GenreGroupDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="GenreGroup_pDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AdGroupModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AdGroupDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="MediaDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdGroupCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdGroupName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYnName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGenreGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenreGroupListResult" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreGroupDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreGroupModel" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreGroupDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenreGroupDetailListResult" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInspectGenreGroupList_p">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreGroupModel" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInspectGenreGroupList_pResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInspectGenreGroupList_pResult" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreGroupList_p">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreGroupModel" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreGroupList_pResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenreGroupList_pResult" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList_p">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreGroupModel" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList_pResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelList_pResult" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreGroupUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreGroupModel" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreGroupUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGenreGroupUpdateResult" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreGroupCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreGroupModel" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreGroupCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGenreGroupCreateResult" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreGroupDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreGroupModel" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreGroupDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGenreGroupDeleteResult" type="tns:GenreGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGenreGroupListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenreGroupList" />
  </wsdl:message>
  <wsdl:message name="GetGenreGroupListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenreGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGenreGroupDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenreGroupDetailList" />
  </wsdl:message>
  <wsdl:message name="GetGenreGroupDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenreGroupDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetInspectGenreGroupList_pSoapIn">
    <wsdl:part name="parameters" element="tns:GetInspectGenreGroupList_p" />
  </wsdl:message>
  <wsdl:message name="GetInspectGenreGroupList_pSoapOut">
    <wsdl:part name="parameters" element="tns:GetInspectGenreGroupList_pResponse" />
  </wsdl:message>
  <wsdl:message name="GetGenreGroupList_pSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenreGroupList_p" />
  </wsdl:message>
  <wsdl:message name="GetGenreGroupList_pSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenreGroupList_pResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelList_pSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelList_p" />
  </wsdl:message>
  <wsdl:message name="GetChannelList_pSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelList_pResponse" />
  </wsdl:message>
  <wsdl:message name="SetGenreGroupUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetGenreGroupUpdate" />
  </wsdl:message>
  <wsdl:message name="SetGenreGroupUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetGenreGroupUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetGenreGroupCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetGenreGroupCreate" />
  </wsdl:message>
  <wsdl:message name="SetGenreGroupCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetGenreGroupCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetGenreGroupDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetGenreGroupDelete" />
  </wsdl:message>
  <wsdl:message name="SetGenreGroupDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetGenreGroupDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="GenreGroupServiceSoap">
    <wsdl:operation name="GetGenreGroupList">
      <wsdl:input message="tns:GetGenreGroupListSoapIn" />
      <wsdl:output message="tns:GetGenreGroupListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGenreGroupDetailList">
      <wsdl:input message="tns:GetGenreGroupDetailListSoapIn" />
      <wsdl:output message="tns:GetGenreGroupDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInspectGenreGroupList_p">
      <wsdl:input message="tns:GetInspectGenreGroupList_pSoapIn" />
      <wsdl:output message="tns:GetInspectGenreGroupList_pSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGenreGroupList_p">
      <wsdl:input message="tns:GetGenreGroupList_pSoapIn" />
      <wsdl:output message="tns:GetGenreGroupList_pSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_p">
      <wsdl:input message="tns:GetChannelList_pSoapIn" />
      <wsdl:output message="tns:GetChannelList_pSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGenreGroupUpdate">
      <wsdl:input message="tns:SetGenreGroupUpdateSoapIn" />
      <wsdl:output message="tns:SetGenreGroupUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGenreGroupCreate">
      <wsdl:input message="tns:SetGenreGroupCreateSoapIn" />
      <wsdl:output message="tns:SetGenreGroupCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGenreGroupDelete">
      <wsdl:input message="tns:SetGenreGroupDeleteSoapIn" />
      <wsdl:output message="tns:SetGenreGroupDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenreGroupServiceSoap" type="tns:GenreGroupServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGenreGroupList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreGroupDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreGroupDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectGenreGroupList_p">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetInspectGenreGroupList_p" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreGroupList_p">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreGroupList_p" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_p">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList_p" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreGroupUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreGroupUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreGroupCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreGroupCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreGroupDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreGroupDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GenreGroupServiceSoap12" type="tns:GenreGroupServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGenreGroupList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreGroupDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreGroupDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectGenreGroupList_p">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetInspectGenreGroupList_p" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreGroupList_p">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreGroupList_p" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_p">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList_p" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreGroupUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreGroupUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreGroupCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreGroupCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreGroupDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreGroupDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenreGroupService">
    <wsdl:port name="GenreGroupServiceSoap" binding="tns:GenreGroupServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebservice/Schedule/GenreGroupService.asmx" />
    </wsdl:port>
    <wsdl:port name="GenreGroupServiceSoap12" binding="tns:GenreGroupServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebservice/Schedule/GenreGroupService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>