dev/AdManagerClient/Web References/PreferenceTotalizeServicePloxy/PreferenceTotalizeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetAdList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:PreferenceTotalizeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PreferenceTotalizeModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="KeyItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyNoticeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyExmNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="KeySearch" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EventName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="AdExpCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PopExpCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RepCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RepRate" type="s:float" />
              <s:element minOccurs="0" maxOccurs="1" name="PopExpType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PreferenceDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAdListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdListResult" type="tns:PreferenceTotalizeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPopupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:PreferenceTotalizeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPopupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPopupListResult" type="tns:PreferenceTotalizeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdList" />
  </wsdl:message>
  <wsdl:message name="GetAdListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdListResponse" />
  </wsdl:message>
  <wsdl:message name="getPopupListSoapIn">
    <wsdl:part name="parameters" element="tns:getPopupList" />
  </wsdl:message>
  <wsdl:message name="getPopupListSoapOut">
    <wsdl:part name="parameters" element="tns:getPopupListResponse" />
  </wsdl:message>
  <wsdl:portType name="PreferenceTotalizeServiceSoap">
    <wsdl:operation name="GetAdList">
      <wsdl:input message="tns:GetAdListSoapIn" />
      <wsdl:output message="tns:GetAdListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPopupList">
      <wsdl:input message="tns:getPopupListSoapIn" />
      <wsdl:output message="tns:getPopupListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PreferenceTotalizeServiceSoap" type="tns:PreferenceTotalizeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPopupList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/getPopupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PreferenceTotalizeServiceSoap12" type="tns:PreferenceTotalizeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPopupList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/getPopupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PreferenceTotalizeService">
    <wsdl:port name="PreferenceTotalizeServiceSoap" binding="tns:PreferenceTotalizeServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/PreferenceTotalizeService.asmx" />
    </wsdl:port>
    <wsdl:port name="PreferenceTotalizeServiceSoap12" binding="tns:PreferenceTotalizeServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/PreferenceTotalizeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>