dev/AdManagerClient/Web References/PgmDailyRatingServicePloxy/PgmDailyRatingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetPgmDailyRatingReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="pgmDailyRatingModel" type="tns:PgmDailyRatingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PgmDailyRatingModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchDate" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPgmDailyRatingReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPgmDailyRatingReportResult" type="tns:PgmDailyRatingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPgmDailyRatingReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetPgmDailyRatingReport" />
  </wsdl:message>
  <wsdl:message name="GetPgmDailyRatingReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetPgmDailyRatingReportResponse" />
  </wsdl:message>
  <wsdl:portType name="PgmDailyRatingServiceSoap">
    <wsdl:operation name="GetPgmDailyRatingReport">
      <wsdl:input message="tns:GetPgmDailyRatingReportSoapIn" />
      <wsdl:output message="tns:GetPgmDailyRatingReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PgmDailyRatingServiceSoap" type="tns:PgmDailyRatingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPgmDailyRatingReport">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetPgmDailyRatingReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PgmDailyRatingServiceSoap12" type="tns:PgmDailyRatingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPgmDailyRatingReport">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetPgmDailyRatingReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PgmDailyRatingService">
    <wsdl:port name="PgmDailyRatingServiceSoap" binding="tns:PgmDailyRatingServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportMedia/PgmDailyRatingService.asmx" />
    </wsdl:port>
    <wsdl:port name="PgmDailyRatingServiceSoap12" binding="tns:PgmDailyRatingServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportMedia/PgmDailyRatingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>