dev/AdManagerClient/Web References/StatisticsRegionServicePloxy/StatisticsRegionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetStatisticsRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:StatisticsRegionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatisticsRegionModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ContractAmt" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalAdCnt" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchContractSeq" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CampaignCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatisticsRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatisticsRegionResult" type="tns:StatisticsRegionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStatisticsRegionSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatisticsRegion" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsRegionSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatisticsRegionResponse" />
  </wsdl:message>
  <wsdl:portType name="StatisticsRegionServiceSoap">
    <wsdl:operation name="GetStatisticsRegion">
      <wsdl:input message="tns:GetStatisticsRegionSoapIn" />
      <wsdl:output message="tns:GetStatisticsRegionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatisticsRegionServiceSoap" type="tns:StatisticsRegionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatisticsRegion">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetStatisticsRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StatisticsRegionServiceSoap12" type="tns:StatisticsRegionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatisticsRegion">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetStatisticsRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatisticsRegionService">
    <wsdl:port name="StatisticsRegionServiceSoap" binding="tns:StatisticsRegionServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/StatisticsRegionService.asmx" />
    </wsdl:port>
    <wsdl:port name="StatisticsRegionServiceSoap12" binding="tns:StatisticsRegionServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/StatisticsRegionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>