dev/AdManagerClient/Web References/SchHomeGroupServicePloxy/SchHomeGroupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetSchHomeList1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchHomeGroupModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TgtWeek" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GroupCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AckNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RedId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SchHomeGroupModelDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSchHomeList1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchHomeList1Result" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeList2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeList2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchHomeList2Result" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeListCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeListCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchHomeListCountResult" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeGroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchHomeGroupListResult" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeGroupDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeGroupDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchHomeGroupDetailListResult" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeCreateResult" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeSaveResult" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeDeleteResult" type="tns:SchHomeGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSchHomeList1SoapIn">
    <wsdl:part name="parameters" element="tns:GetSchHomeList1" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeList1SoapOut">
    <wsdl:part name="parameters" element="tns:GetSchHomeList1Response" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeList2SoapIn">
    <wsdl:part name="parameters" element="tns:GetSchHomeList2" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeList2SoapOut">
    <wsdl:part name="parameters" element="tns:GetSchHomeList2Response" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeListCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchHomeListCount" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeListCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchHomeListCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeGroupListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchHomeGroupList" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeGroupListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchHomeGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeGroupDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchHomeGroupDetailList" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeGroupDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchHomeGroupDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeSaveSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeSave" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeSaveSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeSaveResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="SchHomeGroupServiceSoap">
    <wsdl:operation name="GetSchHomeList1">
      <wsdl:input message="tns:GetSchHomeList1SoapIn" />
      <wsdl:output message="tns:GetSchHomeList1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeList2">
      <wsdl:input message="tns:GetSchHomeList2SoapIn" />
      <wsdl:output message="tns:GetSchHomeList2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeListCount">
      <wsdl:input message="tns:GetSchHomeListCountSoapIn" />
      <wsdl:output message="tns:GetSchHomeListCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeGroupList">
      <wsdl:input message="tns:GetSchHomeGroupListSoapIn" />
      <wsdl:output message="tns:GetSchHomeGroupListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeGroupDetailList">
      <wsdl:input message="tns:GetSchHomeGroupDetailListSoapIn" />
      <wsdl:output message="tns:GetSchHomeGroupDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeCreate">
      <wsdl:input message="tns:SetSchHomeCreateSoapIn" />
      <wsdl:output message="tns:SetSchHomeCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeSave">
      <wsdl:input message="tns:SetSchHomeSaveSoapIn" />
      <wsdl:output message="tns:SetSchHomeSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeDelete">
      <wsdl:input message="tns:SetSchHomeDeleteSoapIn" />
      <wsdl:output message="tns:SetSchHomeDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchHomeGroupServiceSoap" type="tns:SchHomeGroupServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchHomeList1">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeList1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeList2">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeList2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeListCount">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeListCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeGroupList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeGroupDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeGroupDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeSave">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchHomeGroupServiceSoap12" type="tns:SchHomeGroupServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchHomeList1">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeList1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeList2">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeList2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeListCount">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeListCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeGroupList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeGroupDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeGroupDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeSave">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchHomeGroupService">
    <wsdl:port name="SchHomeGroupServiceSoap" binding="tns:SchHomeGroupServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchHomeGroupService.asmx" />
    </wsdl:port>
    <wsdl:port name="SchHomeGroupServiceSoap12" binding="tns:SchHomeGroupServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchHomeGroupService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>