dev/AdManagerClient/Web References/MediaAgencyServicePloxy/MediaAgencyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetMediaAgencyList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="mediaAgencyModel" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MediaAgencyModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MediaAgencyDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaAgency" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Charger" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Tell" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMediaAgencyListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaAgencyListResult" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaAgencyPop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="mediaAgencyModel" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaAgencyPopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaAgencyPopResult" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMediaAgencyUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="mediaAgencyModel" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMediaAgencyUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMediaAgencyUpdateResult" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMediaAgencyCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="mediaAgencyModel" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMediaAgencyCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMediaAgencyCreateResult" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMediaAgencyDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="mediaAgencyModel" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMediaAgencyDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMediaAgencyDeleteResult" type="tns:MediaAgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMediaAgencyListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMediaAgencyList" />
  </wsdl:message>
  <wsdl:message name="GetMediaAgencyListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaAgencyListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMediaAgencyPopSoapIn">
    <wsdl:part name="parameters" element="tns:GetMediaAgencyPop" />
  </wsdl:message>
  <wsdl:message name="GetMediaAgencyPopSoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaAgencyPopResponse" />
  </wsdl:message>
  <wsdl:message name="SetMediaAgencyUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetMediaAgencyUpdate" />
  </wsdl:message>
  <wsdl:message name="SetMediaAgencyUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetMediaAgencyUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetMediaAgencyCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetMediaAgencyCreate" />
  </wsdl:message>
  <wsdl:message name="SetMediaAgencyCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetMediaAgencyCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetMediaAgencyDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetMediaAgencyDelete" />
  </wsdl:message>
  <wsdl:message name="SetMediaAgencyDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetMediaAgencyDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="MediaAgencyServiceSoap">
    <wsdl:operation name="GetMediaAgencyList">
      <wsdl:input message="tns:GetMediaAgencyListSoapIn" />
      <wsdl:output message="tns:GetMediaAgencyListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaAgencyPop">
      <wsdl:input message="tns:GetMediaAgencyPopSoapIn" />
      <wsdl:output message="tns:GetMediaAgencyPopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMediaAgencyUpdate">
      <wsdl:input message="tns:SetMediaAgencyUpdateSoapIn" />
      <wsdl:output message="tns:SetMediaAgencyUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMediaAgencyCreate">
      <wsdl:input message="tns:SetMediaAgencyCreateSoapIn" />
      <wsdl:output message="tns:SetMediaAgencyCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMediaAgencyDelete">
      <wsdl:input message="tns:SetMediaAgencyDeleteSoapIn" />
      <wsdl:output message="tns:SetMediaAgencyDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediaAgencyServiceSoap" type="tns:MediaAgencyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMediaAgencyList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaAgencyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaAgencyPop">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaAgencyPop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMediaAgencyUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMediaAgencyUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMediaAgencyCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMediaAgencyCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMediaAgencyDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMediaAgencyDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediaAgencyServiceSoap12" type="tns:MediaAgencyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMediaAgencyList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaAgencyList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaAgencyPop">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaAgencyPop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMediaAgencyUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMediaAgencyUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMediaAgencyCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMediaAgencyCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMediaAgencyDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMediaAgencyDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaAgencyService">
    <wsdl:port name="MediaAgencyServiceSoap" binding="tns:MediaAgencyServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/MediaAgencyService.asmx" />
    </wsdl:port>
    <wsdl:port name="MediaAgencyServiceSoap12" binding="tns:MediaAgencyServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/MediaAgencyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>