dev/AdManagerClient/Web References/GroupOrganizationServicePloxy/GroupOrganizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetGroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GroupOrganizationModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="GroupCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleOrder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AckNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LogYn" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CommonYn" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileSize" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastOrder" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FileListCount" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="GroupOrganizationDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupListResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGroupAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGroupAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGroupAddResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGroupUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGroupUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGroupUpdateResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGroupDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGroupDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGroupDeleteResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeAdList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchHomeAdListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchHomeAdListResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHomePublishState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHomePublishStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHomePublishStateResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeAdCreateResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeAdDeleteResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeCommonYn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeCommonYnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeCommonYnResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdLogYn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdLogYnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeAdLogYnResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdOrderFirst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdOrderFirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeAdOrderFirstResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdOrderUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdOrderUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeAdOrderUpResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdOrderDown">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdOrderDownResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeAdOrderDownResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdOrderLast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="groupOrganizationModel" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchHomeAdOrderLastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchHomeAdOrderLastResult" type="tns:GroupOrganizationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGroupListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupList" />
  </wsdl:message>
  <wsdl:message name="GetGroupListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="SetGroupAddSoapIn">
    <wsdl:part name="parameters" element="tns:SetGroupAdd" />
  </wsdl:message>
  <wsdl:message name="SetGroupAddSoapOut">
    <wsdl:part name="parameters" element="tns:SetGroupAddResponse" />
  </wsdl:message>
  <wsdl:message name="SetGroupUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetGroupUpdate" />
  </wsdl:message>
  <wsdl:message name="SetGroupUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetGroupUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetGroupDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetGroupDelete" />
  </wsdl:message>
  <wsdl:message name="SetGroupDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetGroupDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeAdListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchHomeAdList" />
  </wsdl:message>
  <wsdl:message name="GetSchHomeAdListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchHomeAdListResponse" />
  </wsdl:message>
  <wsdl:message name="GetHomePublishStateSoapIn">
    <wsdl:part name="parameters" element="tns:GetHomePublishState" />
  </wsdl:message>
  <wsdl:message name="GetHomePublishStateSoapOut">
    <wsdl:part name="parameters" element="tns:GetHomePublishStateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeCommonYnSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeCommonYn" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeCommonYnSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeCommonYnResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdLogYnSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdLogYn" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdLogYnSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdLogYnResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdOrderFirstSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdOrderFirst" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdOrderFirstSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdOrderFirstResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdOrderUpSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdOrderUp" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdOrderUpSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdOrderUpResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdOrderDownSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdOrderDown" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdOrderDownSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdOrderDownResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdOrderLastSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdOrderLast" />
  </wsdl:message>
  <wsdl:message name="SetSchHomeAdOrderLastSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchHomeAdOrderLastResponse" />
  </wsdl:message>
  <wsdl:portType name="GroupOrganizationServiceSoap">
    <wsdl:operation name="GetGroupList">
      <wsdl:input message="tns:GetGroupListSoapIn" />
      <wsdl:output message="tns:GetGroupListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGroupAdd">
      <wsdl:input message="tns:SetGroupAddSoapIn" />
      <wsdl:output message="tns:SetGroupAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGroupUpdate">
      <wsdl:input message="tns:SetGroupUpdateSoapIn" />
      <wsdl:output message="tns:SetGroupUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGroupDelete">
      <wsdl:input message="tns:SetGroupDeleteSoapIn" />
      <wsdl:output message="tns:SetGroupDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeAdList">
      <wsdl:input message="tns:GetSchHomeAdListSoapIn" />
      <wsdl:output message="tns:GetSchHomeAdListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHomePublishState">
      <wsdl:input message="tns:GetHomePublishStateSoapIn" />
      <wsdl:output message="tns:GetHomePublishStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdCreate">
      <wsdl:input message="tns:SetSchHomeAdCreateSoapIn" />
      <wsdl:output message="tns:SetSchHomeAdCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdDelete">
      <wsdl:input message="tns:SetSchHomeAdDeleteSoapIn" />
      <wsdl:output message="tns:SetSchHomeAdDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeCommonYn">
      <wsdl:input message="tns:SetSchHomeCommonYnSoapIn" />
      <wsdl:output message="tns:SetSchHomeCommonYnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdLogYn">
      <wsdl:input message="tns:SetSchHomeAdLogYnSoapIn" />
      <wsdl:output message="tns:SetSchHomeAdLogYnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderFirst">
      <wsdl:input message="tns:SetSchHomeAdOrderFirstSoapIn" />
      <wsdl:output message="tns:SetSchHomeAdOrderFirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderUp">
      <wsdl:input message="tns:SetSchHomeAdOrderUpSoapIn" />
      <wsdl:output message="tns:SetSchHomeAdOrderUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderDown">
      <wsdl:input message="tns:SetSchHomeAdOrderDownSoapIn" />
      <wsdl:output message="tns:SetSchHomeAdOrderDownSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderLast">
      <wsdl:input message="tns:SetSchHomeAdOrderLastSoapIn" />
      <wsdl:output message="tns:SetSchHomeAdOrderLastSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GroupOrganizationServiceSoap" type="tns:GroupOrganizationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGroupList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGroupAdd">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGroupAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGroupUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGroupUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGroupDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGroupDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeAdList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeAdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomePublishState">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetHomePublishState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeCommonYn">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeCommonYn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdLogYn">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdLogYn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderFirst">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdOrderFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderUp">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdOrderUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderDown">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdOrderDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderLast">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdOrderLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GroupOrganizationServiceSoap12" type="tns:GroupOrganizationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGroupList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGroupAdd">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGroupAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGroupUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGroupUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGroupDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGroupDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchHomeAdList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchHomeAdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomePublishState">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetHomePublishState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeCommonYn">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeCommonYn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdLogYn">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdLogYn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderFirst">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdOrderFirst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderUp">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdOrderUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderDown">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdOrderDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchHomeAdOrderLast">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchHomeAdOrderLast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GroupOrganizationService">
    <wsdl:port name="GroupOrganizationServiceSoap" binding="tns:GroupOrganizationServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Media/GroupOrganizationService.asmx" />
    </wsdl:port>
    <wsdl:port name="GroupOrganizationServiceSoap12" binding="tns:GroupOrganizationServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Media/GroupOrganizationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>