dev/AdManagerClient/Web References/TargetingCollectionServiceProxy/TargetingCollectionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetCollectionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TargetingCollectionModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CollectionsDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="CMDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="OAPDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="HomeDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchNonuseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SetType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CollectionCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCollectionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCollectionListResult" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingCMList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingCMListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTargetingCMListResult" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingOAPList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingOAPListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTargetingOAPListResult" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingHomeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingHomeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTargetingHomeListResult" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingCollectionAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingCollectionAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTargetingCollectionAddResult" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingCollectionDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingCollectionDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTargetingCollectionDeleteResult" type="tns:TargetingCollectionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCollectionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCollectionList" />
  </wsdl:message>
  <wsdl:message name="GetCollectionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCollectionListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTargetingCMListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTargetingCMList" />
  </wsdl:message>
  <wsdl:message name="GetTargetingCMListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTargetingCMListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTargetingOAPListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTargetingOAPList" />
  </wsdl:message>
  <wsdl:message name="GetTargetingOAPListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTargetingOAPListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTargetingHomeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTargetingHomeList" />
  </wsdl:message>
  <wsdl:message name="GetTargetingHomeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTargetingHomeListResponse" />
  </wsdl:message>
  <wsdl:message name="SetTargetingCollectionAddSoapIn">
    <wsdl:part name="parameters" element="tns:SetTargetingCollectionAdd" />
  </wsdl:message>
  <wsdl:message name="SetTargetingCollectionAddSoapOut">
    <wsdl:part name="parameters" element="tns:SetTargetingCollectionAddResponse" />
  </wsdl:message>
  <wsdl:message name="SetTargetingCollectionDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetTargetingCollectionDelete" />
  </wsdl:message>
  <wsdl:message name="SetTargetingCollectionDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetTargetingCollectionDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="TargetingCollectionServiceSoap">
    <wsdl:operation name="GetCollectionList">
      <wsdl:input message="tns:GetCollectionListSoapIn" />
      <wsdl:output message="tns:GetCollectionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetingCMList">
      <wsdl:input message="tns:GetTargetingCMListSoapIn" />
      <wsdl:output message="tns:GetTargetingCMListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetingOAPList">
      <wsdl:input message="tns:GetTargetingOAPListSoapIn" />
      <wsdl:output message="tns:GetTargetingOAPListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetingHomeList">
      <wsdl:input message="tns:GetTargetingHomeListSoapIn" />
      <wsdl:output message="tns:GetTargetingHomeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionAdd">
      <wsdl:input message="tns:SetTargetingCollectionAddSoapIn" />
      <wsdl:output message="tns:SetTargetingCollectionAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionDelete">
      <wsdl:input message="tns:SetTargetingCollectionDeleteSoapIn" />
      <wsdl:output message="tns:SetTargetingCollectionDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TargetingCollectionServiceSoap" type="tns:TargetingCollectionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCollectionList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCollectionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingCMList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingCMList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingOAPList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingOAPList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingHomeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingHomeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionAdd">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingCollectionAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingCollectionDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TargetingCollectionServiceSoap12" type="tns:TargetingCollectionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCollectionList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCollectionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingCMList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingCMList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingOAPList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingOAPList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingHomeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingHomeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionAdd">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingCollectionAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingCollectionDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TargetingCollectionService">
    <wsdl:port name="TargetingCollectionServiceSoap" binding="tns:TargetingCollectionServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Target/TargetingCollectionService.asmx" />
    </wsdl:port>
    <wsdl:port name="TargetingCollectionServiceSoap12" binding="tns:TargetingCollectionServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Target/TargetingCollectionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>