dev/AdManagerClient/Web References/MediaCodeServicePloxy/MediaCodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetMediaCodeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="mediacodeModel" type="tns:MediaCodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MediaCodeModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCodeDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMediaCodeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaCodeListResult" type="tns:MediaCodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMediaCodeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMediaCodeList" />
  </wsdl:message>
  <wsdl:message name="GetMediaCodeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaCodeListResponse" />
  </wsdl:message>
  <wsdl:portType name="MediaCodeServiceSoap">
    <wsdl:operation name="GetMediaCodeList">
      <wsdl:input message="tns:GetMediaCodeListSoapIn" />
      <wsdl:output message="tns:GetMediaCodeListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediaCodeServiceSoap" type="tns:MediaCodeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMediaCodeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediaCodeServiceSoap12" type="tns:MediaCodeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMediaCodeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaCodeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaCodeService">
    <wsdl:port name="MediaCodeServiceSoap" binding="tns:MediaCodeServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Common/MediaCodeService.asmx" />
    </wsdl:port>
    <wsdl:port name="MediaCodeServiceSoap12" binding="tns:MediaCodeServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Common/MediaCodeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>