dev/AdManagerClient/Web References/AreaDayServicePloxy/AreaDayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetAreaDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AreaDayModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="AdList" type="tns:ArrayOfAnyType" />
              <s:element minOccurs="0" maxOccurs="1" name="StartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdListStr" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAreaDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAreaDayResult" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAreaDayByJava">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAreaDayByJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAreaDayByJavaResult" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeDayResult" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeDayByJava">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeDayByJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeDayByJavaResult" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenreDayResult" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreDayByJava">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreDayByJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenreDayByJavaResult" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelDayResult" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelDayByJava">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelDayByJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelDayByJavaResult" type="tns:AreaDayModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAreaDaySoapIn">
    <wsdl:part name="parameters" element="tns:GetAreaDay" />
  </wsdl:message>
  <wsdl:message name="GetAreaDaySoapOut">
    <wsdl:part name="parameters" element="tns:GetAreaDayResponse" />
  </wsdl:message>
  <wsdl:message name="GetAreaDayByJavaSoapIn">
    <wsdl:part name="parameters" element="tns:GetAreaDayByJava" />
  </wsdl:message>
  <wsdl:message name="GetAreaDayByJavaSoapOut">
    <wsdl:part name="parameters" element="tns:GetAreaDayByJavaResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimeDaySoapIn">
    <wsdl:part name="parameters" element="tns:GetTimeDay" />
  </wsdl:message>
  <wsdl:message name="GetTimeDaySoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeDayResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimeDayByJavaSoapIn">
    <wsdl:part name="parameters" element="tns:GetTimeDayByJava" />
  </wsdl:message>
  <wsdl:message name="GetTimeDayByJavaSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeDayByJavaResponse" />
  </wsdl:message>
  <wsdl:message name="GetGenreDaySoapIn">
    <wsdl:part name="parameters" element="tns:GetGenreDay" />
  </wsdl:message>
  <wsdl:message name="GetGenreDaySoapOut">
    <wsdl:part name="parameters" element="tns:GetGenreDayResponse" />
  </wsdl:message>
  <wsdl:message name="GetGenreDayByJavaSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenreDayByJava" />
  </wsdl:message>
  <wsdl:message name="GetGenreDayByJavaSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenreDayByJavaResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelDaySoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelDay" />
  </wsdl:message>
  <wsdl:message name="GetChannelDaySoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelDayResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelDayByJavaSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelDayByJava" />
  </wsdl:message>
  <wsdl:message name="GetChannelDayByJavaSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelDayByJavaResponse" />
  </wsdl:message>
  <wsdl:portType name="AreaDayServiceSoap">
    <wsdl:operation name="GetAreaDay">
      <wsdl:input message="tns:GetAreaDaySoapIn" />
      <wsdl:output message="tns:GetAreaDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAreaDayByJava">
      <wsdl:input message="tns:GetAreaDayByJavaSoapIn" />
      <wsdl:output message="tns:GetAreaDayByJavaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeDay">
      <wsdl:input message="tns:GetTimeDaySoapIn" />
      <wsdl:output message="tns:GetTimeDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeDayByJava">
      <wsdl:input message="tns:GetTimeDayByJavaSoapIn" />
      <wsdl:output message="tns:GetTimeDayByJavaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGenreDay">
      <wsdl:input message="tns:GetGenreDaySoapIn" />
      <wsdl:output message="tns:GetGenreDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGenreDayByJava">
      <wsdl:input message="tns:GetGenreDayByJavaSoapIn" />
      <wsdl:output message="tns:GetGenreDayByJavaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelDay">
      <wsdl:input message="tns:GetChannelDaySoapIn" />
      <wsdl:output message="tns:GetChannelDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelDayByJava">
      <wsdl:input message="tns:GetChannelDayByJavaSoapIn" />
      <wsdl:output message="tns:GetChannelDayByJavaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AreaDayServiceSoap" type="tns:AreaDayServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAreaDay">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAreaDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaDayByJava">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAreaDayByJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeDay">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTimeDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeDayByJava">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTimeDayByJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreDay">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreDayByJava">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreDayByJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelDay">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelDayByJava">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelDayByJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AreaDayServiceSoap12" type="tns:AreaDayServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAreaDay">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAreaDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaDayByJava">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAreaDayByJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeDay">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTimeDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeDayByJava">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTimeDayByJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreDay">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreDayByJava">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreDayByJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelDay">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelDayByJava">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelDayByJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AreaDayService">
    <wsdl:port name="AreaDayServiceSoap" binding="tns:AreaDayServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/AreaDayService.asmx" />
    </wsdl:port>
    <wsdl:port name="AreaDayServiceSoap12" binding="tns:AreaDayServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/AreaDayService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>