dev/AdManagerClient/Web References/SchExclusiveZoneServicePloxy/SchExclusiveZoneService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetSchExclusiveList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schExclusiveZoneModel" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchExclusiveZoneModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SchExclusiveDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExecutStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RealEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractAmt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TargetingDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SchExDetailDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="TgtTimeYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtWeekYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtWeek" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSchExclusiveListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchExclusiveListResult" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTagetingList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schExclusiveZoneModel" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTagetingListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTagetingListResult" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingDetailUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schExclusiveZoneModel" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingDetailUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTargetingDetailUpdateResult" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeTargetDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schExclusiveZoneModel" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeTargetDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeTargetDetailResult" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchExclusivUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schExclusiveZoneModel" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchExclusivUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchExclusivUpdateResult" type="tns:SchExclusiveZoneModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSchExclusiveListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchExclusiveList" />
  </wsdl:message>
  <wsdl:message name="GetSchExclusiveListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchExclusiveListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTagetingListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTagetingList" />
  </wsdl:message>
  <wsdl:message name="GetTagetingListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTagetingListResponse" />
  </wsdl:message>
  <wsdl:message name="SetTargetingDetailUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetTargetingDetailUpdate" />
  </wsdl:message>
  <wsdl:message name="SetTargetingDetailUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetTargetingDetailUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimeTargetDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetTimeTargetDetail" />
  </wsdl:message>
  <wsdl:message name="GetTimeTargetDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeTargetDetailResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchExclusivUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchExclusivUpdate" />
  </wsdl:message>
  <wsdl:message name="SetSchExclusivUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchExclusivUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="SchExclusiveZoneServiceSoap">
    <wsdl:operation name="GetSchExclusiveList">
      <wsdl:input message="tns:GetSchExclusiveListSoapIn" />
      <wsdl:output message="tns:GetSchExclusiveListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTagetingList">
      <wsdl:input message="tns:GetTagetingListSoapIn" />
      <wsdl:output message="tns:GetTagetingListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTargetingDetailUpdate">
      <wsdl:input message="tns:SetTargetingDetailUpdateSoapIn" />
      <wsdl:output message="tns:SetTargetingDetailUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeTargetDetail">
      <wsdl:input message="tns:GetTimeTargetDetailSoapIn" />
      <wsdl:output message="tns:GetTimeTargetDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchExclusivUpdate">
      <wsdl:input message="tns:SetSchExclusivUpdateSoapIn" />
      <wsdl:output message="tns:SetSchExclusivUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchExclusiveZoneServiceSoap" type="tns:SchExclusiveZoneServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchExclusiveList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchExclusiveList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagetingList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTagetingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingDetailUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingDetailUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTargetDetail">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTimeTargetDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchExclusivUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchExclusivUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchExclusiveZoneServiceSoap12" type="tns:SchExclusiveZoneServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchExclusiveList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchExclusiveList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagetingList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTagetingList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingDetailUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingDetailUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTargetDetail">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTimeTargetDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchExclusivUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchExclusivUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchExclusiveZoneService">
    <wsdl:port name="SchExclusiveZoneServiceSoap" binding="tns:SchExclusiveZoneServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchExclusiveZoneService.asmx" />
    </wsdl:port>
    <wsdl:port name="SchExclusiveZoneServiceSoap12" binding="tns:SchExclusiveZoneServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchExclusiveZoneService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>