dev/AdManagerClient/Service References/AdMoniteringServiceProxy/AdTypeMoniteringService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetAdTypeMaster">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AdTypeMoniteringModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdTypeMoniteringModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ItemDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="LogDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rap" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAdTypeMasterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdTypeMasterResult" type="tns:AdTypeMoniteringModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdTypeDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AdTypeMoniteringModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdTypeDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdTypeDetailResult" type="tns:AdTypeMoniteringModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdTypeMasterSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdTypeMaster" />
  </wsdl:message>
  <wsdl:message name="GetAdTypeMasterSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdTypeMasterResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdTypeDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdTypeDetail" />
  </wsdl:message>
  <wsdl:message name="GetAdTypeDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdTypeDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="AdTypeMoniteringServiceSoap">
    <wsdl:operation name="GetAdTypeMaster">
      <wsdl:input message="tns:GetAdTypeMasterSoapIn" />
      <wsdl:output message="tns:GetAdTypeMasterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdTypeDetail">
      <wsdl:input message="tns:GetAdTypeDetailSoapIn" />
      <wsdl:output message="tns:GetAdTypeDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdTypeMoniteringServiceSoap" type="tns:AdTypeMoniteringServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdTypeMaster">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdTypeMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdTypeDetail">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdTypeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdTypeMoniteringServiceSoap12" type="tns:AdTypeMoniteringServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdTypeMaster">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdTypeMaster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdTypeDetail">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdTypeDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdTypeMoniteringService">
    <wsdl:port name="AdTypeMoniteringServiceSoap" binding="tns:AdTypeMoniteringServiceSoap">
      <soap:address location="http://localhost:8087/AdManagerWebserviceV3/ReportSummaryAd/AdTypeMoniteringService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdTypeMoniteringServiceSoap12" binding="tns:AdTypeMoniteringServiceSoap12">
      <soap12:address location="http://localhost:8087/AdManagerWebserviceV3/ReportSummaryAd/AdTypeMoniteringService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>