dev/AdManagerClient/Web References/LoginServicePloxy/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="PasswordEncrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PasswordEncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PasswordEncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PasswordDecrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PasswordDecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PasswordDecryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="loginModel" type="tns:LoginModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoginModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SystemVersion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LevelName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClassName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoginTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastLogin" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PasswordEncryptSoapIn">
    <wsdl:part name="parameters" element="tns:PasswordEncrypt" />
  </wsdl:message>
  <wsdl:message name="PasswordEncryptSoapOut">
    <wsdl:part name="parameters" element="tns:PasswordEncryptResponse" />
  </wsdl:message>
  <wsdl:message name="PasswordDecryptSoapIn">
    <wsdl:part name="parameters" element="tns:PasswordDecrypt" />
  </wsdl:message>
  <wsdl:message name="PasswordDecryptSoapOut">
    <wsdl:part name="parameters" element="tns:PasswordDecryptResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginServiceSoap">
    <wsdl:operation name="PasswordEncrypt">
      <wsdl:input message="tns:PasswordEncryptSoapIn" />
      <wsdl:output message="tns:PasswordEncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PasswordDecrypt">
      <wsdl:input message="tns:PasswordDecryptSoapIn" />
      <wsdl:output message="tns:PasswordDecryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginServiceSoap" type="tns:LoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PasswordEncrypt">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/PasswordEncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordDecrypt">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/PasswordDecrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginServiceSoap12" type="tns:LoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PasswordEncrypt">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/PasswordEncrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordDecrypt">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/PasswordDecrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="LoginServiceSoap" binding="tns:LoginServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV7/Login/LoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginServiceSoap12" binding="tns:LoginServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV7/Login/LoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>