dev/AdManagerClient/Web References/AdFileWideServicePloxy/AdFileWideService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetFileCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdFileWideModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CmsCid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CmsCmd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CmsRequestStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CmsProcessStatus" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CmsSyncCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CmsDescCount" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CmsDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="FileListCount" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FileDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="CountDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchFileState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileState" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFileCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileCountResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdFileWideList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdFileWideListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdFileWideListResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdFileSchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdFileScheduleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdFileScheduleResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChkRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChkRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileChkRequestResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChkRequestCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChkRequestCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileChkRequestCancelResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChkComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChkCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileChkCompleteResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCmsRequestBegin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCmsRequestBeginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCmsRequestBeginResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChkCompleteCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChkCompleteCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileChkCompleteCancelResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileCDNSync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileCDNSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileCDNSyncResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileCDNSyncCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileCDNSyncCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileCDNSyncCancelResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileCDNPublish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileCDNPublishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileCDNPublishResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileCDNPublishCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileCDNPublishCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileCDNPublishCancelResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileSTBDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileSTBDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileSTBDeleteResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileSTBDeleteCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileSTBDeleteCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileSTBDeleteCancelResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileWideModel" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileChangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileChangeResult" type="tns:AdFileWideModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileCount" />
  </wsdl:message>
  <wsdl:message name="GetFileCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdFileWideListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdFileWideList" />
  </wsdl:message>
  <wsdl:message name="GetAdFileWideListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdFileWideListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdFileScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdFileSchedule" />
  </wsdl:message>
  <wsdl:message name="GetAdFileScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdFileScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChkRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileChkRequest" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChkRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileChkRequestResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChkRequestCancelSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileChkRequestCancel" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChkRequestCancelSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileChkRequestCancelResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChkCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileChkComplete" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChkCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileChkCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetCmsRequestBeginSoapIn">
    <wsdl:part name="parameters" element="tns:SetCmsRequestBegin" />
  </wsdl:message>
  <wsdl:message name="SetCmsRequestBeginSoapOut">
    <wsdl:part name="parameters" element="tns:SetCmsRequestBeginResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChkCompleteCancelSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileChkCompleteCancel" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChkCompleteCancelSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileChkCompleteCancelResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileCDNSyncSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileCDNSync" />
  </wsdl:message>
  <wsdl:message name="SetAdFileCDNSyncSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileCDNSyncResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileCDNSyncCancelSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileCDNSyncCancel" />
  </wsdl:message>
  <wsdl:message name="SetAdFileCDNSyncCancelSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileCDNSyncCancelResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileCDNPublishSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileCDNPublish" />
  </wsdl:message>
  <wsdl:message name="SetAdFileCDNPublishSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileCDNPublishResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileCDNPublishCancelSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileCDNPublishCancel" />
  </wsdl:message>
  <wsdl:message name="SetAdFileCDNPublishCancelSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileCDNPublishCancelResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileSTBDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileSTBDelete" />
  </wsdl:message>
  <wsdl:message name="SetAdFileSTBDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileSTBDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileSTBDeleteCancelSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileSTBDeleteCancel" />
  </wsdl:message>
  <wsdl:message name="SetAdFileSTBDeleteCancelSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileSTBDeleteCancelResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChangeSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileChange" />
  </wsdl:message>
  <wsdl:message name="SetAdFileChangeSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileChangeResponse" />
  </wsdl:message>
  <wsdl:portType name="AdFileWideServiceSoap">
    <wsdl:operation name="GetFileCount">
      <wsdl:input message="tns:GetFileCountSoapIn" />
      <wsdl:output message="tns:GetFileCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdFileWideList">
      <wsdl:input message="tns:GetAdFileWideListSoapIn" />
      <wsdl:output message="tns:GetAdFileWideListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdFileSchedule">
      <wsdl:input message="tns:GetAdFileScheduleSoapIn" />
      <wsdl:output message="tns:GetAdFileScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkRequest">
      <wsdl:input message="tns:SetAdFileChkRequestSoapIn" />
      <wsdl:output message="tns:SetAdFileChkRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkRequestCancel">
      <wsdl:input message="tns:SetAdFileChkRequestCancelSoapIn" />
      <wsdl:output message="tns:SetAdFileChkRequestCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkComplete">
      <wsdl:input message="tns:SetAdFileChkCompleteSoapIn" />
      <wsdl:output message="tns:SetAdFileChkCompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCmsRequestBegin">
      <wsdl:input message="tns:SetCmsRequestBeginSoapIn" />
      <wsdl:output message="tns:SetCmsRequestBeginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkCompleteCancel">
      <wsdl:input message="tns:SetAdFileChkCompleteCancelSoapIn" />
      <wsdl:output message="tns:SetAdFileChkCompleteCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNSync">
      <wsdl:input message="tns:SetAdFileCDNSyncSoapIn" />
      <wsdl:output message="tns:SetAdFileCDNSyncSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNSyncCancel">
      <wsdl:input message="tns:SetAdFileCDNSyncCancelSoapIn" />
      <wsdl:output message="tns:SetAdFileCDNSyncCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNPublish">
      <wsdl:input message="tns:SetAdFileCDNPublishSoapIn" />
      <wsdl:output message="tns:SetAdFileCDNPublishSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNPublishCancel">
      <wsdl:input message="tns:SetAdFileCDNPublishCancelSoapIn" />
      <wsdl:output message="tns:SetAdFileCDNPublishCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileSTBDelete">
      <wsdl:input message="tns:SetAdFileSTBDeleteSoapIn" />
      <wsdl:output message="tns:SetAdFileSTBDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileSTBDeleteCancel">
      <wsdl:input message="tns:SetAdFileSTBDeleteCancelSoapIn" />
      <wsdl:output message="tns:SetAdFileSTBDeleteCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChange">
      <wsdl:input message="tns:SetAdFileChangeSoapIn" />
      <wsdl:output message="tns:SetAdFileChangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdFileWideServiceSoap" type="tns:AdFileWideServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileCount">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetFileCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdFileWideList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdFileWideList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdFileSchedule">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdFileSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkRequest">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChkRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkRequestCancel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChkRequestCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkComplete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChkComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCmsRequestBegin">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCmsRequestBegin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkCompleteCancel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChkCompleteCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNSync">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileCDNSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNSyncCancel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileCDNSyncCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNPublish">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileCDNPublish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNPublishCancel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileCDNPublishCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileSTBDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileSTBDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileSTBDeleteCancel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileSTBDeleteCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChange">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdFileWideServiceSoap12" type="tns:AdFileWideServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileCount">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetFileCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdFileWideList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdFileWideList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdFileSchedule">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdFileSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkRequest">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChkRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkRequestCancel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChkRequestCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkComplete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChkComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCmsRequestBegin">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCmsRequestBegin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChkCompleteCancel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChkCompleteCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNSync">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileCDNSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNSyncCancel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileCDNSyncCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNPublish">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileCDNPublish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileCDNPublishCancel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileCDNPublishCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileSTBDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileSTBDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileSTBDeleteCancel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileSTBDeleteCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileChange">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdFileWideService">
    <wsdl:port name="AdFileWideServiceSoap" binding="tns:AdFileWideServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/AdFileWideService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdFileWideServiceSoap12" binding="tns:AdFileWideServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/AdFileWideService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>