dev/AdManagerClient/Web References/GenreServicePloxy/GenreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetGenreList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreModel" type="tns:GenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GenreModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchGenreLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGenreListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenreListResult" type="tns:GenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreModel" type="tns:GenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGenreUpdateResult" type="tns:GenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreModel" type="tns:GenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGenreCreateResult" type="tns:GenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="genreModel" type="tns:GenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGenreDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGenreDeleteResult" type="tns:GenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGenreListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenreList" />
  </wsdl:message>
  <wsdl:message name="GetGenreListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenreListResponse" />
  </wsdl:message>
  <wsdl:message name="SetGenreUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetGenreUpdate" />
  </wsdl:message>
  <wsdl:message name="SetGenreUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetGenreUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetGenreCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetGenreCreate" />
  </wsdl:message>
  <wsdl:message name="SetGenreCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetGenreCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetGenreDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetGenreDelete" />
  </wsdl:message>
  <wsdl:message name="SetGenreDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetGenreDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="GenreServiceSoap">
    <wsdl:operation name="GetGenreList">
      <wsdl:input message="tns:GetGenreListSoapIn" />
      <wsdl:output message="tns:GetGenreListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGenreUpdate">
      <wsdl:input message="tns:SetGenreUpdateSoapIn" />
      <wsdl:output message="tns:SetGenreUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGenreCreate">
      <wsdl:input message="tns:SetGenreCreateSoapIn" />
      <wsdl:output message="tns:SetGenreCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGenreDelete">
      <wsdl:input message="tns:SetGenreDeleteSoapIn" />
      <wsdl:output message="tns:SetGenreDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenreServiceSoap" type="tns:GenreServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGenreList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GenreServiceSoap12" type="tns:GenreServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGenreList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGenreDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGenreDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenreService">
    <wsdl:port name="GenreServiceSoap" binding="tns:GenreServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Media/GenreService.asmx" />
    </wsdl:port>
    <wsdl:port name="GenreServiceSoap12" binding="tns:GenreServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Media/GenreService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>