dev/AdManagerClient/Web References/TargetingServicePloxy/TargetingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetTargetingList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TargetingModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TargetingDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="DetailDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="RegionDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="AgeDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="RateDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdvertiserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchContractState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractAmt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PriorityCd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AmtControlYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AmtControlRate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtRegion1Yn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtRegion1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtTimeYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtAgeYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtAge" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtAgeBtnYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtAgeBtnBegin" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtAgeBtnEnd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtSexYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtSexMan" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtSexWoman" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtRateYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtRate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtWeekYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtWeek" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtCollectionYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtCollection" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtZipYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtZip" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtStbModelYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtStbModel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtPPxYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtFreqYn" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TgtFreqDay" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TgtFreqFeriod" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtPVSYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtPrefYn" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TgtPrefRate" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtPrefNosend" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtProfileYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtProfile" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TgtReliablilty" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate5" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate6" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate7" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate8" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate9" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate11" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate12" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate13" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate14" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate15" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate16" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate17" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate18" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate19" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate21" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate22" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate23" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate24" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SlotExt" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CollectionsDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="TargetingCollectionDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="CollectionCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtPocYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TgtPoc" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTargetingListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTargetingListResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCollectionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCollectionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCollectionListResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTargetingDetailResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingDetail2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingDetail2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTargetingDetail2Result" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTargetingRateResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingDetailUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingDetailUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTargetingDetailUpdateResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingRateUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingRateUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTargetingRateUpdateResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegionListResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAgeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAgeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAgeListResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingCollectionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetingCollectionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTargetingCollectionListResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingCollectionAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingCollectionAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTargetingCollectionAddResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingCollectionDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingCollectionDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTargetingCollectionDeleteResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStbList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStbListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStbListResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingProfileAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="targetingModel" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTargetingProfileAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTargetingProfileAddResult" type="tns:TargetingModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTargetingListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTargetingList" />
  </wsdl:message>
  <wsdl:message name="GetTargetingListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTargetingListResponse" />
  </wsdl:message>
  <wsdl:message name="GetCollectionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCollectionList" />
  </wsdl:message>
  <wsdl:message name="GetCollectionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCollectionListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTargetingDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetTargetingDetail" />
  </wsdl:message>
  <wsdl:message name="GetTargetingDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetTargetingDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetTargetingDetail2SoapIn">
    <wsdl:part name="parameters" element="tns:GetTargetingDetail2" />
  </wsdl:message>
  <wsdl:message name="GetTargetingDetail2SoapOut">
    <wsdl:part name="parameters" element="tns:GetTargetingDetail2Response" />
  </wsdl:message>
  <wsdl:message name="GetTargetingRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetTargetingRate" />
  </wsdl:message>
  <wsdl:message name="GetTargetingRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetTargetingRateResponse" />
  </wsdl:message>
  <wsdl:message name="SetTargetingDetailUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetTargetingDetailUpdate" />
  </wsdl:message>
  <wsdl:message name="SetTargetingDetailUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetTargetingDetailUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetTargetingRateUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetTargetingRateUpdate" />
  </wsdl:message>
  <wsdl:message name="SetTargetingRateUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetTargetingRateUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegionList" />
  </wsdl:message>
  <wsdl:message name="GetRegionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegionListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAgeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAgeList" />
  </wsdl:message>
  <wsdl:message name="GetAgeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAgeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTargetingCollectionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTargetingCollectionList" />
  </wsdl:message>
  <wsdl:message name="GetTargetingCollectionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTargetingCollectionListResponse" />
  </wsdl:message>
  <wsdl:message name="SetTargetingCollectionAddSoapIn">
    <wsdl:part name="parameters" element="tns:SetTargetingCollectionAdd" />
  </wsdl:message>
  <wsdl:message name="SetTargetingCollectionAddSoapOut">
    <wsdl:part name="parameters" element="tns:SetTargetingCollectionAddResponse" />
  </wsdl:message>
  <wsdl:message name="SetTargetingCollectionDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetTargetingCollectionDelete" />
  </wsdl:message>
  <wsdl:message name="SetTargetingCollectionDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetTargetingCollectionDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetStbListSoapIn">
    <wsdl:part name="parameters" element="tns:GetStbList" />
  </wsdl:message>
  <wsdl:message name="GetStbListSoapOut">
    <wsdl:part name="parameters" element="tns:GetStbListResponse" />
  </wsdl:message>
  <wsdl:message name="SetTargetingProfileAddSoapIn">
    <wsdl:part name="parameters" element="tns:SetTargetingProfileAdd" />
  </wsdl:message>
  <wsdl:message name="SetTargetingProfileAddSoapOut">
    <wsdl:part name="parameters" element="tns:SetTargetingProfileAddResponse" />
  </wsdl:message>
  <wsdl:portType name="TargetingServiceSoap">
    <wsdl:operation name="GetTargetingList">
      <wsdl:input message="tns:GetTargetingListSoapIn" />
      <wsdl:output message="tns:GetTargetingListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionList">
      <wsdl:input message="tns:GetCollectionListSoapIn" />
      <wsdl:output message="tns:GetCollectionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetingDetail">
      <wsdl:input message="tns:GetTargetingDetailSoapIn" />
      <wsdl:output message="tns:GetTargetingDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetingDetail2">
      <wsdl:input message="tns:GetTargetingDetail2SoapIn" />
      <wsdl:output message="tns:GetTargetingDetail2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetingRate">
      <wsdl:input message="tns:GetTargetingRateSoapIn" />
      <wsdl:output message="tns:GetTargetingRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTargetingDetailUpdate">
      <wsdl:input message="tns:SetTargetingDetailUpdateSoapIn" />
      <wsdl:output message="tns:SetTargetingDetailUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTargetingRateUpdate">
      <wsdl:input message="tns:SetTargetingRateUpdateSoapIn" />
      <wsdl:output message="tns:SetTargetingRateUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionList">
      <wsdl:input message="tns:GetRegionListSoapIn" />
      <wsdl:output message="tns:GetRegionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgeList">
      <wsdl:input message="tns:GetAgeListSoapIn" />
      <wsdl:output message="tns:GetAgeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetingCollectionList">
      <wsdl:input message="tns:GetTargetingCollectionListSoapIn" />
      <wsdl:output message="tns:GetTargetingCollectionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionAdd">
      <wsdl:input message="tns:SetTargetingCollectionAddSoapIn" />
      <wsdl:output message="tns:SetTargetingCollectionAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionDelete">
      <wsdl:input message="tns:SetTargetingCollectionDeleteSoapIn" />
      <wsdl:output message="tns:SetTargetingCollectionDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStbList">
      <wsdl:input message="tns:GetStbListSoapIn" />
      <wsdl:output message="tns:GetStbListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTargetingProfileAdd">
      <wsdl:input message="tns:SetTargetingProfileAddSoapIn" />
      <wsdl:output message="tns:SetTargetingProfileAddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TargetingServiceSoap" type="tns:TargetingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTargetingList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCollectionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingDetail">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingDetail2">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingDetail2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingRate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingDetailUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingDetailUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingRateUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingRateUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetRegionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAgeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingCollectionList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingCollectionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionAdd">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingCollectionAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingCollectionDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStbList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetStbList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingProfileAdd">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingProfileAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TargetingServiceSoap12" type="tns:TargetingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTargetingList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCollectionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingDetail">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingDetail2">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingDetail2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingRate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingDetailUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingDetailUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingRateUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingRateUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetRegionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAgeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetingCollectionList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetTargetingCollectionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionAdd">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingCollectionAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingCollectionDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingCollectionDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStbList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetStbList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTargetingProfileAdd">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetTargetingProfileAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TargetingService">
    <wsdl:port name="TargetingServiceSoap" binding="tns:TargetingServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV7/Target/TargetingService.asmx" />
    </wsdl:port>
    <wsdl:port name="TargetingServiceSoap12" binding="tns:TargetingServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV7/Target/TargetingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>