dev/AdManagerClient/Web References/SchOrgGenreServiceProxy/SchOrgGenreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetMenuList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="SchOrgGenreModel" type="tns:SchOrgGenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchOrgGenreModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SchOrgGenreDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxTime" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxCountPay" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxTimePay" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UseDate" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSetDataOnly" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMenuListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuListResult" type="tns:SchOrgGenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSchOrgGenre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="SchOrgGenreModel" type="tns:SchOrgGenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSchOrgGenreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSchOrgGenreResult" type="tns:SchOrgGenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertSchOrgGenre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="SchOrgGenreModel" type="tns:SchOrgGenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertSchOrgGenreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertSchOrgGenreResult" type="tns:SchOrgGenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSchOrgGenre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="SchOrgGenreModel" type="tns:SchOrgGenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSchOrgGenreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteSchOrgGenreResult" type="tns:SchOrgGenreModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMenuListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuList" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSchOrgGenreSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSchOrgGenre" />
  </wsdl:message>
  <wsdl:message name="UpdateSchOrgGenreSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSchOrgGenreResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSchOrgGenreSoapIn">
    <wsdl:part name="parameters" element="tns:InsertSchOrgGenre" />
  </wsdl:message>
  <wsdl:message name="InsertSchOrgGenreSoapOut">
    <wsdl:part name="parameters" element="tns:InsertSchOrgGenreResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSchOrgGenreSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSchOrgGenre" />
  </wsdl:message>
  <wsdl:message name="DeleteSchOrgGenreSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSchOrgGenreResponse" />
  </wsdl:message>
  <wsdl:portType name="SchOrgGenreServiceSoap">
    <wsdl:operation name="GetMenuList">
      <wsdl:input message="tns:GetMenuListSoapIn" />
      <wsdl:output message="tns:GetMenuListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSchOrgGenre">
      <wsdl:input message="tns:UpdateSchOrgGenreSoapIn" />
      <wsdl:output message="tns:UpdateSchOrgGenreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertSchOrgGenre">
      <wsdl:input message="tns:InsertSchOrgGenreSoapIn" />
      <wsdl:output message="tns:InsertSchOrgGenreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSchOrgGenre">
      <wsdl:input message="tns:DeleteSchOrgGenreSoapIn" />
      <wsdl:output message="tns:DeleteSchOrgGenreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchOrgGenreServiceSoap" type="tns:SchOrgGenreServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenuList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSchOrgGenre">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/UpdateSchOrgGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSchOrgGenre">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/InsertSchOrgGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchOrgGenre">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/DeleteSchOrgGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchOrgGenreServiceSoap12" type="tns:SchOrgGenreServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenuList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSchOrgGenre">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/UpdateSchOrgGenre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSchOrgGenre">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/InsertSchOrgGenre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchOrgGenre">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/DeleteSchOrgGenre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchOrgGenreService">
    <wsdl:port name="SchOrgGenreServiceSoap" binding="tns:SchOrgGenreServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV6/Media/SchOrgGenreService.asmx" />
    </wsdl:port>
    <wsdl:port name="SchOrgGenreServiceSoap12" binding="tns:SchOrgGenreServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV6/Media/SchOrgGenreService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>