dev/AdManagerClient/Web References/BizManageServiceProxy/BizManageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetBizManageTargetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:BizManageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BizManageModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdvertiserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BizManageDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="AdTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdvertiserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BrandName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JobClassName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Pirce" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OfferExpCnt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RealExpCnt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OfferCPM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RealCPM" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBizManageTargetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBizManageTargetListResult" type="tns:BizManageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBizManageTargetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetBizManageTargetList" />
  </wsdl:message>
  <wsdl:message name="GetBizManageTargetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetBizManageTargetListResponse" />
  </wsdl:message>
  <wsdl:portType name="BizManageServiceSoap">
    <wsdl:operation name="GetBizManageTargetList">
      <wsdl:input message="tns:GetBizManageTargetListSoapIn" />
      <wsdl:output message="tns:GetBizManageTargetListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BizManageServiceSoap" type="tns:BizManageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBizManageTargetList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetBizManageTargetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BizManageServiceSoap12" type="tns:BizManageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBizManageTargetList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetBizManageTargetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizManageService">
    <wsdl:port name="BizManageServiceSoap" binding="tns:BizManageServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV7/ReportSummaryAd/BizManageService.asmx" />
    </wsdl:port>
    <wsdl:port name="BizManageServiceSoap12" binding="tns:BizManageServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV7/ReportSummaryAd/BizManageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>