dev/AdManagerClient/Web References/MenuServicePloxy/MenuService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetUserMenuList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="menuModel" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MenuModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MenuCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpperMenu" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuOrder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="UserClassCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserClassName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckCreate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckRead" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckUpdate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckDelete" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserMenuListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserMenuListResult" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserClassList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="menuModel" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserClassListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserClassListResult" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuPowerList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="menuModel" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuPowerListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuPowerListResult" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserClassCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="menuModel" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserClassCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetUserClassCreateResult" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserClassUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="menuModel" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserClassUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetUserClassUpdateResult" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuPowerUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="menuModel" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuPowerUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMenuPowerUpdateResult" type="tns:MenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserMenuListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserMenuList" />
  </wsdl:message>
  <wsdl:message name="GetUserMenuListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserMenuListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserClassListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserClassList" />
  </wsdl:message>
  <wsdl:message name="GetUserClassListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserClassListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuPowerListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuPowerList" />
  </wsdl:message>
  <wsdl:message name="GetMenuPowerListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuPowerListResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserClassCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserClassCreate" />
  </wsdl:message>
  <wsdl:message name="SetUserClassCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserClassCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserClassUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserClassUpdate" />
  </wsdl:message>
  <wsdl:message name="SetUserClassUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserClassUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetMenuPowerUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetMenuPowerUpdate" />
  </wsdl:message>
  <wsdl:message name="SetMenuPowerUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetMenuPowerUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="MenuServiceSoap">
    <wsdl:operation name="GetUserMenuList">
      <wsdl:input message="tns:GetUserMenuListSoapIn" />
      <wsdl:output message="tns:GetUserMenuListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserClassList">
      <wsdl:input message="tns:GetUserClassListSoapIn" />
      <wsdl:output message="tns:GetUserClassListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuPowerList">
      <wsdl:input message="tns:GetMenuPowerListSoapIn" />
      <wsdl:output message="tns:GetMenuPowerListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserClassCreate">
      <wsdl:input message="tns:SetUserClassCreateSoapIn" />
      <wsdl:output message="tns:SetUserClassCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserClassUpdate">
      <wsdl:input message="tns:SetUserClassUpdateSoapIn" />
      <wsdl:output message="tns:SetUserClassUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMenuPowerUpdate">
      <wsdl:input message="tns:SetMenuPowerUpdateSoapIn" />
      <wsdl:output message="tns:SetMenuPowerUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MenuServiceSoap" type="tns:MenuServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserMenuList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetUserMenuList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserClassList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetUserClassList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuPowerList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuPowerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserClassCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetUserClassCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserClassUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetUserClassUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuPowerUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuPowerUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MenuServiceSoap12" type="tns:MenuServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserMenuList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetUserMenuList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserClassList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetUserClassList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuPowerList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuPowerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserClassCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetUserClassCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserClassUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetUserClassUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuPowerUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuPowerUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuService">
    <wsdl:port name="MenuServiceSoap" binding="tns:MenuServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Common/MenuService.asmx" />
    </wsdl:port>
    <wsdl:port name="MenuServiceSoap12" binding="tns:MenuServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Common/MenuService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>