dev/AdManagerClient/Web References/RptSummaryAdDailyServicePloxy/RptSummaryAdDailyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetRptSummaryAdDailyList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:RptSummaryAdDailyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RptSummaryAdDailyModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RptDailyDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchDay" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRptSummaryAdDailyListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRptSummaryAdDailyListResult" type="tns:RptSummaryAdDailyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRptSummaryAdDailyListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRptSummaryAdDailyList" />
  </wsdl:message>
  <wsdl:message name="GetRptSummaryAdDailyListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRptSummaryAdDailyListResponse" />
  </wsdl:message>
  <wsdl:portType name="RptSummaryAdDailyServiceSoap">
    <wsdl:operation name="GetRptSummaryAdDailyList">
      <wsdl:input message="tns:GetRptSummaryAdDailyListSoapIn" />
      <wsdl:output message="tns:GetRptSummaryAdDailyListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RptSummaryAdDailyServiceSoap" type="tns:RptSummaryAdDailyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRptSummaryAdDailyList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetRptSummaryAdDailyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RptSummaryAdDailyServiceSoap12" type="tns:RptSummaryAdDailyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRptSummaryAdDailyList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetRptSummaryAdDailyList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RptSummaryAdDailyService">
    <wsdl:port name="RptSummaryAdDailyServiceSoap" binding="tns:RptSummaryAdDailyServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/RptSummaryAdDailyService.asmx" />
    </wsdl:port>
    <wsdl:port name="RptSummaryAdDailyServiceSoap12" binding="tns:RptSummaryAdDailyServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/RptSummaryAdDailyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>