dev/AdManagerClient/Web References/SchMenuAdServicePloxy/SchMenuAdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="SetSchedulePerItemDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchedulePerItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchedulePerItemModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ItemNo" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Media" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Category" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Genre" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Channel" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Series" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DeleteJobType" type="tns:TYPE_ScheduleDelete" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TYPE_ScheduleDelete">
        <s:restriction base="s:string">
          <s:enumeration value="Category" />
          <s:enumeration value="Genre" />
          <s:enumeration value="Channel" />
          <s:enumeration value="Series" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetSchedulePerItemDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchedulePerItemDeleteResult" type="tns:SchedulePerItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchedulePerItemInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:SchedulePerItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchedulePerItemInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchedulePerItemInsertResult" type="tns:SchedulePerItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schMenuAdModel" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SchMenuAdModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ItemScheduleDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="MenuAdDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="MenuDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="MenuContractDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ChoiceMenuContractDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdvertiserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchContractState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractSeq" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleOrder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastOrder" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetMenuListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuListResult" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemScheduleList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schMenuAdModel" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemScheduleListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemScheduleListResult" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schMenuAdModel" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListResult" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceMenuDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schMenuAdModel" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceMenuDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchChoiceMenuDetailListResult" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceMenuDetailContractSeq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schMenuAdModel" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceMenuDetailContractSeqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchChoiceMenuDetailContractSeqResult" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schMenuAdModel" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChooseAdScheduleListMenuResult" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schMenuAdModel" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChooseAdScheduleListContractResult" type="tns:SchMenuAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetSchedulePerItemDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchedulePerItemDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchedulePerItemDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchedulePerItemDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchedulePerItemInsertSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchedulePerItemInsert" />
  </wsdl:message>
  <wsdl:message name="SetSchedulePerItemInsertSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchedulePerItemInsertResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuList" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuListResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemScheduleListSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemScheduleList" />
  </wsdl:message>
  <wsdl:message name="GetItemScheduleListSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemScheduleListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceMenuDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchChoiceMenuDetailList" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceMenuDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchChoiceMenuDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceMenuDetailContractSeqSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchChoiceMenuDetailContractSeq" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceMenuDetailContractSeqSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchChoiceMenuDetailContractSeqResponse" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListMenuSoapIn">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListMenu" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListMenuSoapOut">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListMenuResponse" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListContractSoapIn">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListContract" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListContractSoapOut">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListContractResponse" />
  </wsdl:message>
  <wsdl:portType name="SchMenuAdServiceSoap">
    <wsdl:operation name="SetSchedulePerItemDelete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">특정광고에 선택한 편성데이터 삭제[장르/채널/회차 별 삭제처리 지원]</wsdl:documentation>
      <wsdl:input message="tns:SetSchedulePerItemDeleteSoapIn" />
      <wsdl:output message="tns:SetSchedulePerItemDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchedulePerItemInsert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">특정광고에 선택한 편성데이터 추가[장르/채널/회차 별 추가처리 지원]</wsdl:documentation>
      <wsdl:input message="tns:SetSchedulePerItemInsertSoapIn" />
      <wsdl:output message="tns:SetSchedulePerItemInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <wsdl:input message="tns:GetMenuListSoapIn" />
      <wsdl:output message="tns:GetMenuListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemScheduleList">
      <wsdl:input message="tns:GetItemScheduleListSoapIn" />
      <wsdl:output message="tns:GetItemScheduleListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <wsdl:input message="tns:GetContractItemListSoapIn" />
      <wsdl:output message="tns:GetContractItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceMenuDetailList">
      <wsdl:input message="tns:GetSchChoiceMenuDetailListSoapIn" />
      <wsdl:output message="tns:GetSchChoiceMenuDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceMenuDetailContractSeq">
      <wsdl:input message="tns:GetSchChoiceMenuDetailContractSeqSoapIn" />
      <wsdl:output message="tns:GetSchChoiceMenuDetailContractSeqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListMenu">
      <wsdl:input message="tns:GetChooseAdScheduleListMenuSoapIn" />
      <wsdl:output message="tns:GetChooseAdScheduleListMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListContract">
      <wsdl:input message="tns:GetChooseAdScheduleListContractSoapIn" />
      <wsdl:output message="tns:GetChooseAdScheduleListContractSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchMenuAdServiceSoap" type="tns:SchMenuAdServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetSchedulePerItemDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchedulePerItemDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchedulePerItemInsert">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchedulePerItemInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemScheduleList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetItemScheduleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceMenuDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceMenuDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceMenuDetailContractSeq">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceMenuDetailContractSeq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListMenu">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListContract">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchMenuAdServiceSoap12" type="tns:SchMenuAdServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetSchedulePerItemDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchedulePerItemDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchedulePerItemInsert">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchedulePerItemInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemScheduleList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetItemScheduleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceMenuDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceMenuDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceMenuDetailContractSeq">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceMenuDetailContractSeq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListMenu">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListContract">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchMenuAdService">
    <wsdl:port name="SchMenuAdServiceSoap" binding="tns:SchMenuAdServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchMenuAdService.asmx" />
    </wsdl:port>
    <wsdl:port name="SchMenuAdServiceSoap12" binding="tns:SchMenuAdServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchMenuAdService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>