dev/AdManagerClient/Web References/InventoryPresentConditionPloxy/InventoryPresentConditionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetInventoryPresentCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:InventoryPresentConditionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventoryPresentConditionModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ItemDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="LogDay1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LogDay2" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SearchType" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInventoryPresentConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventoryPresentConditionResult" type="tns:InventoryPresentConditionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetInventorySummuryData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:InventoryPresentConditionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetInventorySummuryDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetInventorySummuryDataResult" type="tns:InventoryPresentConditionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInventoryPresentConditionSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventoryPresentCondition" />
  </wsdl:message>
  <wsdl:message name="GetInventoryPresentConditionSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventoryPresentConditionResponse" />
  </wsdl:message>
  <wsdl:message name="SetInventorySummuryDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetInventorySummuryData" />
  </wsdl:message>
  <wsdl:message name="SetInventorySummuryDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetInventorySummuryDataResponse" />
  </wsdl:message>
  <wsdl:portType name="InventoryPresentConditionServiceSoap">
    <wsdl:operation name="GetInventoryPresentCondition">
      <wsdl:input message="tns:GetInventoryPresentConditionSoapIn" />
      <wsdl:output message="tns:GetInventoryPresentConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetInventorySummuryData">
      <wsdl:input message="tns:SetInventorySummuryDataSoapIn" />
      <wsdl:output message="tns:SetInventorySummuryDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryPresentConditionServiceSoap" type="tns:InventoryPresentConditionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventoryPresentCondition">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetInventoryPresentCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInventorySummuryData">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetInventorySummuryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InventoryPresentConditionServiceSoap12" type="tns:InventoryPresentConditionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventoryPresentCondition">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetInventoryPresentCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInventorySummuryData">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetInventorySummuryData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryPresentConditionService">
    <wsdl:port name="InventoryPresentConditionServiceSoap" binding="tns:InventoryPresentConditionServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/InventoryPresentConditionService.asmx" />
    </wsdl:port>
    <wsdl:port name="InventoryPresentConditionServiceSoap12" binding="tns:InventoryPresentConditionServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/InventoryPresentConditionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>