dev/AdManagerClient/Web References/AdvertiserServicePloxy/AdvertiserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetAdvertiserList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="advertiserModel" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdvertiserModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AdvertiserDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdvertiserLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRap" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdvertiserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdvertiserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JobCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JobName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JobLevel" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAdvertiserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdvertiserListResult" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiserUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="advertiserModel" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiserUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdvertiserUpdateResult" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiserCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="advertiserModel" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiserCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdvertiserCreateResult" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiserDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="advertiserModel" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiserDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdvertiserDeleteResult" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobClassList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="advertiserModel" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobClassListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJobClassListResult" type="tns:AdvertiserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdvertiserListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdvertiserList" />
  </wsdl:message>
  <wsdl:message name="GetAdvertiserListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdvertiserListResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiserUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdvertiserUpdate" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiserUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdvertiserUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiserCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdvertiserCreate" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiserCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdvertiserCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiserDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdvertiserDelete" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiserDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdvertiserDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetJobClassListSoapIn">
    <wsdl:part name="parameters" element="tns:GetJobClassList" />
  </wsdl:message>
  <wsdl:message name="GetJobClassListSoapOut">
    <wsdl:part name="parameters" element="tns:GetJobClassListResponse" />
  </wsdl:message>
  <wsdl:portType name="AdvertiserServiceSoap">
    <wsdl:operation name="GetAdvertiserList">
      <wsdl:input message="tns:GetAdvertiserListSoapIn" />
      <wsdl:output message="tns:GetAdvertiserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiserUpdate">
      <wsdl:input message="tns:SetAdvertiserUpdateSoapIn" />
      <wsdl:output message="tns:SetAdvertiserUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiserCreate">
      <wsdl:input message="tns:SetAdvertiserCreateSoapIn" />
      <wsdl:output message="tns:SetAdvertiserCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiserDelete">
      <wsdl:input message="tns:SetAdvertiserDeleteSoapIn" />
      <wsdl:output message="tns:SetAdvertiserDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJobClassList">
      <wsdl:input message="tns:GetJobClassListSoapIn" />
      <wsdl:output message="tns:GetJobClassListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdvertiserServiceSoap" type="tns:AdvertiserServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdvertiserList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdvertiserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiserUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdvertiserUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiserCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdvertiserCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiserDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdvertiserDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobClassList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetJobClassList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdvertiserServiceSoap12" type="tns:AdvertiserServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdvertiserList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdvertiserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiserUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdvertiserUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiserCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdvertiserCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiserDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdvertiserDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobClassList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetJobClassList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdvertiserService">
    <wsdl:port name="AdvertiserServiceSoap" binding="tns:AdvertiserServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV7/Contract/AdvertiserService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdvertiserServiceSoap12" binding="tns:AdvertiserServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV7/Contract/AdvertiserService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>