dev/AdManagerClient/Web References/AdExecuteRatePloxy/AdExecuteRateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetAdvertiseExecuteRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AdExecuteRateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdExecuteRateModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="StartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndDay" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAdvertiseExecuteRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdvertiseExecuteRateResult" type="tns:AdExecuteRateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChangeEPGList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AdExecuteRateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChangeEPGListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChangeEPGListResult" type="tns:AdExecuteRateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdvertiseExecuteRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdvertiseExecuteRate" />
  </wsdl:message>
  <wsdl:message name="GetAdvertiseExecuteRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdvertiseExecuteRateResponse" />
  </wsdl:message>
  <wsdl:message name="GetChangeEPGListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChangeEPGList" />
  </wsdl:message>
  <wsdl:message name="GetChangeEPGListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChangeEPGListResponse" />
  </wsdl:message>
  <wsdl:portType name="AdExecuteRateServiceSoap">
    <wsdl:operation name="GetAdvertiseExecuteRate">
      <wsdl:input message="tns:GetAdvertiseExecuteRateSoapIn" />
      <wsdl:output message="tns:GetAdvertiseExecuteRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChangeEPGList">
      <wsdl:input message="tns:GetChangeEPGListSoapIn" />
      <wsdl:output message="tns:GetChangeEPGListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdExecuteRateServiceSoap" type="tns:AdExecuteRateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdvertiseExecuteRate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdvertiseExecuteRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangeEPGList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChangeEPGList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdExecuteRateServiceSoap12" type="tns:AdExecuteRateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdvertiseExecuteRate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdvertiseExecuteRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangeEPGList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChangeEPGList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdExecuteRateService">
    <wsdl:port name="AdExecuteRateServiceSoap" binding="tns:AdExecuteRateServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/AdExecuteRateService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdExecuteRateServiceSoap12" binding="tns:AdExecuteRateServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/AdExecuteRateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>