dev/AdManagerClient/Web References/SchRecommServiceProxy/SchRecommService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetSchRecommList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SchRecommModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchRecommModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SchRecommDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchSexCode" type="tns:ArrayOfAnyType" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchCategoryCode" type="tns:ArrayOfAnyType" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchTargetRegionCode" type="tns:ArrayOfAnyType" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgeCode" type="tns:ArrayOfAnyType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSchRecommListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchRecommListResult" type="tns:SchRecommModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSchRecommListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchRecommList" />
  </wsdl:message>
  <wsdl:message name="GetSchRecommListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchRecommListResponse" />
  </wsdl:message>
  <wsdl:portType name="SchRecommServiceSoap">
    <wsdl:operation name="GetSchRecommList">
      <wsdl:input message="tns:GetSchRecommListSoapIn" />
      <wsdl:output message="tns:GetSchRecommListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchRecommServiceSoap" type="tns:SchRecommServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchRecommList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchRecommList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchRecommServiceSoap12" type="tns:SchRecommServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchRecommList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchRecommList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchRecommService">
    <wsdl:port name="SchRecommServiceSoap" binding="tns:SchRecommServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV7/Schedule/SchRecommService.asmx" />
    </wsdl:port>
    <wsdl:port name="SchRecommServiceSoap12" binding="tns:SchRecommServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV7/Schedule/SchRecommService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>