dev/AdManagerClient/Web References/ItemServicePloxy/ItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetContractItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="itemModel" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchCugCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdvertiserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchContractState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SeriesNo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ScheduleType" type="tns:TYPE_Schedule" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleOrder" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FileListCount" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="RapCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TYPE_Schedule">
        <s:restriction base="s:string">
          <s:enumeration value="Category" />
          <s:enumeration value="Genre" />
          <s:enumeration value="Channel" />
          <s:enumeration value="Series" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetContractItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListResult" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList_0907a">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="itemModel" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList_0907aResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemList_0907aResult" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListCm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="itemModel" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListCmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListCmResult" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListForCug">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="itemModel" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListForCugResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListForCugResult" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListDual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="itemModel" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListDualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListDualResult" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchAdItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="itemModel" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchAdItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchAdItemListResult" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractKidsItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="itemModel" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractKidsItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractKidsItemListResult" type="tns:ItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetContractItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemList_0907aSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList_0907a" />
  </wsdl:message>
  <wsdl:message name="GetContractItemList_0907aSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemList_0907aResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListCmSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemListCm" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListCmSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListCmResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListForCugSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemListForCug" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListForCugSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListForCugResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListDualSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemListDual" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListDualSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListDualResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchAdItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchAdItemList" />
  </wsdl:message>
  <wsdl:message name="GetSchAdItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchAdItemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractKidsItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractKidsItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractKidsItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractKidsItemListResponse" />
  </wsdl:message>
  <wsdl:portType name="ItemServiceSoap">
    <wsdl:operation name="GetContractItemList">
      <wsdl:input message="tns:GetContractItemListSoapIn" />
      <wsdl:output message="tns:GetContractItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList_0907a">
      <wsdl:input message="tns:GetContractItemList_0907aSoapIn" />
      <wsdl:output message="tns:GetContractItemList_0907aSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemListCm">
      <wsdl:input message="tns:GetContractItemListCmSoapIn" />
      <wsdl:output message="tns:GetContractItemListCmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemListForCug">
      <wsdl:input message="tns:GetContractItemListForCugSoapIn" />
      <wsdl:output message="tns:GetContractItemListForCugSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemListDual">
      <wsdl:input message="tns:GetContractItemListDualSoapIn" />
      <wsdl:output message="tns:GetContractItemListDualSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchAdItemList">
      <wsdl:input message="tns:GetSchAdItemListSoapIn" />
      <wsdl:output message="tns:GetSchAdItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractKidsItemList">
      <wsdl:input message="tns:GetContractKidsItemListSoapIn" />
      <wsdl:output message="tns:GetContractKidsItemListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemServiceSoap" type="tns:ItemServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContractItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList_0907a">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList_0907a" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemListCm">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemListCm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemListForCug">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemListForCug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemListDual">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemListDual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchAdItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchAdItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractKidsItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractKidsItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemServiceSoap12" type="tns:ItemServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContractItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList_0907a">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList_0907a" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemListCm">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemListCm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemListForCug">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemListForCug" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemListDual">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemListDual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchAdItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchAdItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractKidsItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractKidsItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port name="ItemServiceSoap" binding="tns:ItemServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Common/ItemService.asmx" />
    </wsdl:port>
    <wsdl:port name="ItemServiceSoap12" binding="tns:ItemServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Common/ItemService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>