dev/AdManagerClient/Web References/MenuMapServiceProxy/MenuMapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetCategoryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MenuMapModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SearchCategory" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMenuCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpperMenuCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuLevel" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ModDt" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuOrder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdGenre" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuCode4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuName4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpperMenuCode4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuLevel4" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ModDt4" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuOrder4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdGenre4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UiName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryDs">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="MenuMapDs">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="NoneMenuStdDs">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="NoneMenu4Ds">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCategoryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryListResult" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuMapList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuMapListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuMapListResult" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuMapUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuMapUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMenuMapUpdateResult" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuMapCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuMapCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMenuMapCreateResult" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuMapDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuMapDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMenuMapDeleteResult" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMenuCreateResult" type="tns:MenuMapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCategoryListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="GetCategoryListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuMapListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuMapList" />
  </wsdl:message>
  <wsdl:message name="GetMenuMapListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuMapListResponse" />
  </wsdl:message>
  <wsdl:message name="SetMenuMapUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetMenuMapUpdate" />
  </wsdl:message>
  <wsdl:message name="SetMenuMapUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetMenuMapUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetMenuMapCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetMenuMapCreate" />
  </wsdl:message>
  <wsdl:message name="SetMenuMapCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetMenuMapCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetMenuMapDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetMenuMapDelete" />
  </wsdl:message>
  <wsdl:message name="SetMenuMapDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetMenuMapDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetMenuCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetMenuCreate" />
  </wsdl:message>
  <wsdl:message name="SetMenuCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetMenuCreateResponse" />
  </wsdl:message>
  <wsdl:portType name="MenuMapServiceSoap">
    <wsdl:operation name="GetCategoryList">
      <wsdl:input message="tns:GetCategoryListSoapIn" />
      <wsdl:output message="tns:GetCategoryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuMapList">
      <wsdl:input message="tns:GetMenuMapListSoapIn" />
      <wsdl:output message="tns:GetMenuMapListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMenuMapUpdate">
      <wsdl:input message="tns:SetMenuMapUpdateSoapIn" />
      <wsdl:output message="tns:SetMenuMapUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMenuMapCreate">
      <wsdl:input message="tns:SetMenuMapCreateSoapIn" />
      <wsdl:output message="tns:SetMenuMapCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMenuMapDelete">
      <wsdl:input message="tns:SetMenuMapDeleteSoapIn" />
      <wsdl:output message="tns:SetMenuMapDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMenuCreate">
      <wsdl:input message="tns:SetMenuCreateSoapIn" />
      <wsdl:output message="tns:SetMenuCreateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MenuMapServiceSoap" type="tns:MenuMapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuMapList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuMapList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuMapUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuMapUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuMapCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuMapCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuMapDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuMapDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MenuMapServiceSoap12" type="tns:MenuMapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuMapList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuMapList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuMapUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuMapUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuMapCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuMapCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuMapDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuMapDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuMapService">
    <wsdl:port name="MenuMapServiceSoap" binding="tns:MenuMapServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV7/Media/MenuMapService.asmx" />
    </wsdl:port>
    <wsdl:port name="MenuMapServiceSoap12" binding="tns:MenuMapServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV7/Media/MenuMapService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>