dev/AdManagerClient/Web References/StatisticsPgServicePloxy/StatisticsPgService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetCategoryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:StatisticsPgModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatisticsPgModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="CategoryDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="GenreDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchCategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchGenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchEndDay" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCategoryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryListResult" type="tns:StatisticsPgModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:StatisticsPgModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenreListResult" type="tns:StatisticsPgModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatisticsPgAge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:StatisticsPgModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatisticsPgAgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatisticsPgAgeResult" type="tns:StatisticsPgModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatisticsPgAgeAVG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:StatisticsPgModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatisticsPgAgeAVGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatisticsPgAgeAVGResult" type="tns:StatisticsPgModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCategoryListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="GetCategoryListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGenreListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenreList" />
  </wsdl:message>
  <wsdl:message name="GetGenreListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenreListResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsPgAgeSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatisticsPgAge" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsPgAgeSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatisticsPgAgeResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsPgAgeAVGSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatisticsPgAgeAVG" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsPgAgeAVGSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatisticsPgAgeAVGResponse" />
  </wsdl:message>
  <wsdl:portType name="StatisticsPgServiceSoap">
    <wsdl:operation name="GetCategoryList">
      <wsdl:input message="tns:GetCategoryListSoapIn" />
      <wsdl:output message="tns:GetCategoryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGenreList">
      <wsdl:input message="tns:GetGenreListSoapIn" />
      <wsdl:output message="tns:GetGenreListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsPgAge">
      <wsdl:input message="tns:GetStatisticsPgAgeSoapIn" />
      <wsdl:output message="tns:GetStatisticsPgAgeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsPgAgeAVG">
      <wsdl:input message="tns:GetStatisticsPgAgeAVGSoapIn" />
      <wsdl:output message="tns:GetStatisticsPgAgeAVGSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatisticsPgServiceSoap" type="tns:StatisticsPgServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsPgAge">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetStatisticsPgAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsPgAgeAVG">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetStatisticsPgAgeAVG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StatisticsPgServiceSoap12" type="tns:StatisticsPgServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsPgAge">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetStatisticsPgAge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticsPgAgeAVG">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetStatisticsPgAgeAVG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatisticsPgService">
    <wsdl:port name="StatisticsPgServiceSoap" binding="tns:StatisticsPgServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportMedia/StatisticsPgService.asmx" />
    </wsdl:port>
    <wsdl:port name="StatisticsPgServiceSoap12" binding="tns:StatisticsPgServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportMedia/StatisticsPgService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>