dev/AdManagerClient/Web References/SchChoiceAdServicePloxy/SchChoiceAdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="mGetAdList10">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchChoiceAdModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdvertiserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchContractState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNoCopy" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SeriesNo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ScheduleType" type="tns:TYPE_Schedule" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleOrder" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckMenu" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckChannel" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckSeries" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckDetail" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckSchResult" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TYPE_Schedule">
        <s:restriction base="s:string">
          <s:enumeration value="Category" />
          <s:enumeration value="Genre" />
          <s:enumeration value="Channel" />
          <s:enumeration value="Series" />
        </s:restriction>
      </s:simpleType>
      <s:element name="mGetAdList10Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mGetAdList10Result" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceAdList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceAdListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchChoiceAdListResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInspectItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInspectItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInspectItemListResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList_0907a">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList_0907aResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemList_0907aResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceChannelCreateResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceChannelDeleteResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDetailCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDetailCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceChannelDetailCreateResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceSeriesDetailCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceSeriesDetailCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceSeriesDetailCreateResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDetailDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDetailDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceChannelDetailDeleteResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceMenuCreateResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceMenuDeleteResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDetailCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDetailCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceMenuDetailCreateResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceRealChDetailCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceRealChDetailCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceRealChDetailCreateResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDetailDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDetailDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceMenuDetailDeleteResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceRealChDetailDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceRealChDetailDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceRealChDetailDeleteResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceMenuDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceMenuDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchChoiceMenuDetailListResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceChannelDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceChannelDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchChoiceChannelDetailListResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceLastItemNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceLastItemNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchChoiceLastItemNoResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDelete_To">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDelete_ToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceMenuDelete_ToResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDetailCreate_To">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceMenuDetailCreate_ToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceMenuDetailCreate_ToResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceSearchResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceChannelSearchResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDelete_To">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDelete_ToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceChannelDelete_ToResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDetailCreate_To">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceChannelDetailCreate_ToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceChannelDetailCreate_ToResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceLastItemNoDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchChoiceLastItemNoDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchChoiceLastItemNoDeleteResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceAdCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChoiceAdCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChoiceAdCopyResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSchChoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schChoiceAdModel" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSchChoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSchChoiceResult" type="tns:SchChoiceAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mGetAdList10SoapIn">
    <wsdl:part name="parameters" element="tns:mGetAdList10" />
  </wsdl:message>
  <wsdl:message name="mGetAdList10SoapOut">
    <wsdl:part name="parameters" element="tns:mGetAdList10Response" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceAdListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchChoiceAdList" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceAdListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchChoiceAdListResponse" />
  </wsdl:message>
  <wsdl:message name="GetInspectItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetInspectItemList" />
  </wsdl:message>
  <wsdl:message name="GetInspectItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetInspectItemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemList_0907aSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList_0907a" />
  </wsdl:message>
  <wsdl:message name="GetContractItemList_0907aSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemList_0907aResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDetailCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDetailCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDetailCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDetailCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceSeriesDetailCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceSeriesDetailCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceSeriesDetailCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceSeriesDetailCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDetailDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDetailDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDetailDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDetailDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDetailCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDetailCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDetailCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDetailCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceRealChDetailCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceRealChDetailCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceRealChDetailCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceRealChDetailCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDetailDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDetailDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDetailDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDetailDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceRealChDetailDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceRealChDetailDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceRealChDetailDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceRealChDetailDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceMenuDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchChoiceMenuDetailList" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceMenuDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchChoiceMenuDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceChannelDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchChoiceChannelDetailList" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceChannelDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchChoiceChannelDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceLastItemNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchChoiceLastItemNo" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceLastItemNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchChoiceLastItemNoResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDelete_ToSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDelete_To" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDelete_ToSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDelete_ToResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDetailCreate_ToSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDetailCreate_To" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceMenuDetailCreate_ToSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceMenuDetailCreate_ToResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceSearchSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceSearch" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceSearchSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceSearchResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelSearchSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelSearch" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelSearchSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelSearchResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDelete_ToSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDelete_To" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDelete_ToSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDelete_ToResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDetailCreate_ToSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDetailCreate_To" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceChannelDetailCreate_ToSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceChannelDetailCreate_ToResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceLastItemNoDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchChoiceLastItemNoDelete" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceLastItemNoDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchChoiceLastItemNoDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceAdCopySoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChoiceAdCopy" />
  </wsdl:message>
  <wsdl:message name="SetSchChoiceAdCopySoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChoiceAdCopyResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSchChoiceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSchChoice" />
  </wsdl:message>
  <wsdl:message name="CheckSchChoiceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSchChoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="SchChoiceAdServiceSoap">
    <wsdl:operation name="mGetAdList10">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">상업광고 목록을 가져옵니다</wsdl:documentation>
      <wsdl:input message="tns:mGetAdList10SoapIn" />
      <wsdl:output message="tns:mGetAdList10SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceAdList">
      <wsdl:input message="tns:GetSchChoiceAdListSoapIn" />
      <wsdl:output message="tns:GetSchChoiceAdListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInspectItemList">
      <wsdl:input message="tns:GetInspectItemListSoapIn" />
      <wsdl:output message="tns:GetInspectItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <wsdl:input message="tns:GetContractItemListSoapIn" />
      <wsdl:output message="tns:GetContractItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList_0907a">
      <wsdl:input message="tns:GetContractItemList_0907aSoapIn" />
      <wsdl:output message="tns:GetContractItemList_0907aSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelCreate">
      <wsdl:input message="tns:SetSchChoiceChannelCreateSoapIn" />
      <wsdl:output message="tns:SetSchChoiceChannelCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDelete">
      <wsdl:input message="tns:SetSchChoiceChannelDeleteSoapIn" />
      <wsdl:output message="tns:SetSchChoiceChannelDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDetailCreate">
      <wsdl:input message="tns:SetSchChoiceChannelDetailCreateSoapIn" />
      <wsdl:output message="tns:SetSchChoiceChannelDetailCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceSeriesDetailCreate">
      <wsdl:input message="tns:SetSchChoiceSeriesDetailCreateSoapIn" />
      <wsdl:output message="tns:SetSchChoiceSeriesDetailCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDetailDelete">
      <wsdl:input message="tns:SetSchChoiceChannelDetailDeleteSoapIn" />
      <wsdl:output message="tns:SetSchChoiceChannelDetailDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuCreate">
      <wsdl:input message="tns:SetSchChoiceMenuCreateSoapIn" />
      <wsdl:output message="tns:SetSchChoiceMenuCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDelete">
      <wsdl:input message="tns:SetSchChoiceMenuDeleteSoapIn" />
      <wsdl:output message="tns:SetSchChoiceMenuDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDetailCreate">
      <wsdl:input message="tns:SetSchChoiceMenuDetailCreateSoapIn" />
      <wsdl:output message="tns:SetSchChoiceMenuDetailCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceRealChDetailCreate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">재핑광고 상세내역 편성 처리</wsdl:documentation>
      <wsdl:input message="tns:SetSchChoiceRealChDetailCreateSoapIn" />
      <wsdl:output message="tns:SetSchChoiceRealChDetailCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDetailDelete">
      <wsdl:input message="tns:SetSchChoiceMenuDetailDeleteSoapIn" />
      <wsdl:output message="tns:SetSchChoiceMenuDetailDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceRealChDetailDelete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">재핑광고 상세내역 편성 삭제</wsdl:documentation>
      <wsdl:input message="tns:SetSchChoiceRealChDetailDeleteSoapIn" />
      <wsdl:output message="tns:SetSchChoiceRealChDetailDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceMenuDetailList">
      <wsdl:input message="tns:GetSchChoiceMenuDetailListSoapIn" />
      <wsdl:output message="tns:GetSchChoiceMenuDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceChannelDetailList">
      <wsdl:input message="tns:GetSchChoiceChannelDetailListSoapIn" />
      <wsdl:output message="tns:GetSchChoiceChannelDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceLastItemNo">
      <wsdl:input message="tns:GetSchChoiceLastItemNoSoapIn" />
      <wsdl:output message="tns:GetSchChoiceLastItemNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDelete_To">
      <wsdl:input message="tns:SetSchChoiceMenuDelete_ToSoapIn" />
      <wsdl:output message="tns:SetSchChoiceMenuDelete_ToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDetailCreate_To">
      <wsdl:input message="tns:SetSchChoiceMenuDetailCreate_ToSoapIn" />
      <wsdl:output message="tns:SetSchChoiceMenuDetailCreate_ToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceSearch">
      <wsdl:input message="tns:SetSchChoiceSearchSoapIn" />
      <wsdl:output message="tns:SetSchChoiceSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelSearch">
      <wsdl:input message="tns:SetSchChoiceChannelSearchSoapIn" />
      <wsdl:output message="tns:SetSchChoiceChannelSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDelete_To">
      <wsdl:input message="tns:SetSchChoiceChannelDelete_ToSoapIn" />
      <wsdl:output message="tns:SetSchChoiceChannelDelete_ToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDetailCreate_To">
      <wsdl:input message="tns:SetSchChoiceChannelDetailCreate_ToSoapIn" />
      <wsdl:output message="tns:SetSchChoiceChannelDetailCreate_ToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceLastItemNoDelete">
      <wsdl:input message="tns:GetSchChoiceLastItemNoDeleteSoapIn" />
      <wsdl:output message="tns:GetSchChoiceLastItemNoDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceAdCopy">
      <wsdl:input message="tns:SetSchChoiceAdCopySoapIn" />
      <wsdl:output message="tns:SetSchChoiceAdCopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSchChoice">
      <wsdl:input message="tns:CheckSchChoiceSoapIn" />
      <wsdl:output message="tns:CheckSchChoiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchChoiceAdServiceSoap" type="tns:SchChoiceAdServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mGetAdList10">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/mGetAdList10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceAdList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceAdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetInspectItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList_0907a">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList_0907a" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDetailCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDetailCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceSeriesDetailCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceSeriesDetailCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDetailDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDetailDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDetailCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDetailCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceRealChDetailCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceRealChDetailCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDetailDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDetailDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceRealChDetailDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceRealChDetailDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceMenuDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceMenuDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceChannelDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceChannelDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceLastItemNo">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceLastItemNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDelete_To">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDelete_To" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDetailCreate_To">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDetailCreate_To" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceSearch">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelSearch">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDelete_To">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDelete_To" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDetailCreate_To">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDetailCreate_To" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceLastItemNoDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceLastItemNoDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceAdCopy">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceAdCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSchChoice">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/CheckSchChoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchChoiceAdServiceSoap12" type="tns:SchChoiceAdServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mGetAdList10">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/mGetAdList10" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceAdList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceAdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetInspectItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList_0907a">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList_0907a" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDetailCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDetailCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceSeriesDetailCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceSeriesDetailCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDetailDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDetailDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDetailCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDetailCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceRealChDetailCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceRealChDetailCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDetailDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDetailDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceRealChDetailDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceRealChDetailDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceMenuDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceMenuDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceChannelDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceChannelDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceLastItemNo">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceLastItemNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDelete_To">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDelete_To" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceMenuDetailCreate_To">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceMenuDetailCreate_To" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceSearch">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelSearch">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDelete_To">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDelete_To" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceChannelDetailCreate_To">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceChannelDetailCreate_To" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchChoiceLastItemNoDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceLastItemNoDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChoiceAdCopy">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChoiceAdCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSchChoice">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/CheckSchChoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchChoiceAdService">
    <wsdl:port name="SchChoiceAdServiceSoap" binding="tns:SchChoiceAdServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebservice/Schedule/SchChoiceAdService.asmx" />
    </wsdl:port>
    <wsdl:port name="SchChoiceAdServiceSoap12" binding="tns:SchChoiceAdServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebservice/Schedule/SchChoiceAdService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>