dev/AdManagerClient/Web References/MediaRapCodeServicePloxy/MediaRapCodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetMediaRapCodeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="mediarapcodeModel" type="tns:MediaRapCodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MediaRapCodeModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaRapCodeDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMediaRapCodeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaRapCodeListResult" type="tns:MediaRapCodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaRapCodeListIdCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="mediarapcodeModel" type="tns:MediaRapCodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaRapCodeListIdCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaRapCodeListIdCheckResult" type="tns:MediaRapCodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMediaRapCodeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMediaRapCodeList" />
  </wsdl:message>
  <wsdl:message name="GetMediaRapCodeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaRapCodeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMediaRapCodeListIdCheckSoapIn">
    <wsdl:part name="parameters" element="tns:GetMediaRapCodeListIdCheck" />
  </wsdl:message>
  <wsdl:message name="GetMediaRapCodeListIdCheckSoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaRapCodeListIdCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="MediaRapCodeServiceSoap">
    <wsdl:operation name="GetMediaRapCodeList">
      <wsdl:input message="tns:GetMediaRapCodeListSoapIn" />
      <wsdl:output message="tns:GetMediaRapCodeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaRapCodeListIdCheck">
      <wsdl:input message="tns:GetMediaRapCodeListIdCheckSoapIn" />
      <wsdl:output message="tns:GetMediaRapCodeListIdCheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediaRapCodeServiceSoap" type="tns:MediaRapCodeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMediaRapCodeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaRapCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaRapCodeListIdCheck">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaRapCodeListIdCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediaRapCodeServiceSoap12" type="tns:MediaRapCodeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMediaRapCodeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaRapCodeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaRapCodeListIdCheck">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMediaRapCodeListIdCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaRapCodeService">
    <wsdl:port name="MediaRapCodeServiceSoap" binding="tns:MediaRapCodeServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Common/MediaRapCodeService.asmx" />
    </wsdl:port>
    <wsdl:port name="MediaRapCodeServiceSoap12" binding="tns:MediaRapCodeServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Common/MediaRapCodeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>