dev/AdManagerClient/Web References/OAPWeekSummaryRptServicePloxy/OAPWeekSummaryRptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetOAPWeekHomeAd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:OAPWeekSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OAPWeekSummaryRptModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ItemDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="LogDay1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LogDay2" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOAPWeekHomeAdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOAPWeekHomeAdResult" type="tns:OAPWeekSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOAPWeekChannelJump">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:OAPWeekSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOAPWeekChannelJumpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOAPWeekChannelJumpResult" type="tns:OAPWeekSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mGetHomeCmReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="beginDay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mediaRep" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mGetHomeCmReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mGetHomeCmReportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOAPWeekHomeAdSoapIn">
    <wsdl:part name="parameters" element="tns:GetOAPWeekHomeAd" />
  </wsdl:message>
  <wsdl:message name="GetOAPWeekHomeAdSoapOut">
    <wsdl:part name="parameters" element="tns:GetOAPWeekHomeAdResponse" />
  </wsdl:message>
  <wsdl:message name="GetOAPWeekChannelJumpSoapIn">
    <wsdl:part name="parameters" element="tns:GetOAPWeekChannelJump" />
  </wsdl:message>
  <wsdl:message name="GetOAPWeekChannelJumpSoapOut">
    <wsdl:part name="parameters" element="tns:GetOAPWeekChannelJumpResponse" />
  </wsdl:message>
  <wsdl:message name="mGetHomeCmReportSoapIn">
    <wsdl:part name="parameters" element="tns:mGetHomeCmReport" />
  </wsdl:message>
  <wsdl:message name="mGetHomeCmReportSoapOut">
    <wsdl:part name="parameters" element="tns:mGetHomeCmReportResponse" />
  </wsdl:message>
  <wsdl:portType name="OAPWeekSummaryRptServiceSoap">
    <wsdl:operation name="GetOAPWeekHomeAd">
      <wsdl:input message="tns:GetOAPWeekHomeAdSoapIn" />
      <wsdl:output message="tns:GetOAPWeekHomeAdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOAPWeekChannelJump">
      <wsdl:input message="tns:GetOAPWeekChannelJumpSoapIn" />
      <wsdl:output message="tns:GetOAPWeekChannelJumpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mGetHomeCmReport">
      <wsdl:input message="tns:mGetHomeCmReportSoapIn" />
      <wsdl:output message="tns:mGetHomeCmReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OAPWeekSummaryRptServiceSoap" type="tns:OAPWeekSummaryRptServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOAPWeekHomeAd">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetOAPWeekHomeAd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOAPWeekChannelJump">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetOAPWeekChannelJump" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mGetHomeCmReport">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/mGetHomeCmReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OAPWeekSummaryRptServiceSoap12" type="tns:OAPWeekSummaryRptServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOAPWeekHomeAd">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetOAPWeekHomeAd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOAPWeekChannelJump">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetOAPWeekChannelJump" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mGetHomeCmReport">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/mGetHomeCmReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OAPWeekSummaryRptService">
    <wsdl:port name="OAPWeekSummaryRptServiceSoap" binding="tns:OAPWeekSummaryRptServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/OAPWeekSummaryRptService.asmx" />
    </wsdl:port>
    <wsdl:port name="OAPWeekSummaryRptServiceSoap12" binding="tns:OAPWeekSummaryRptServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/OAPWeekSummaryRptService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>