dev/AdManagerClient/Web References/AgencyServicePloxy/AgencyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetAgencyList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="agencyModel" type="tns:AgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AgencyModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AgencyDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgencyType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRap" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Tell" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAgencyListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAgencyListResult" type="tns:AgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAgencyUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="agencyModel" type="tns:AgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAgencyUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAgencyUpdateResult" type="tns:AgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAgencyCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="agencyModel" type="tns:AgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAgencyCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAgencyCreateResult" type="tns:AgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAgencyDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="agencyModel" type="tns:AgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAgencyDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAgencyDeleteResult" type="tns:AgencyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAgencyListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAgencyList" />
  </wsdl:message>
  <wsdl:message name="GetAgencyListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAgencyListResponse" />
  </wsdl:message>
  <wsdl:message name="SetAgencyUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetAgencyUpdate" />
  </wsdl:message>
  <wsdl:message name="SetAgencyUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetAgencyUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetAgencyCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetAgencyCreate" />
  </wsdl:message>
  <wsdl:message name="SetAgencyCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetAgencyCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetAgencyDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetAgencyDelete" />
  </wsdl:message>
  <wsdl:message name="SetAgencyDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetAgencyDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="AgencyServiceSoap">
    <wsdl:operation name="GetAgencyList">
      <wsdl:input message="tns:GetAgencyListSoapIn" />
      <wsdl:output message="tns:GetAgencyListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAgencyUpdate">
      <wsdl:input message="tns:SetAgencyUpdateSoapIn" />
      <wsdl:output message="tns:SetAgencyUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAgencyCreate">
      <wsdl:input message="tns:SetAgencyCreateSoapIn" />
      <wsdl:output message="tns:SetAgencyCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAgencyDelete">
      <wsdl:input message="tns:SetAgencyDeleteSoapIn" />
      <wsdl:output message="tns:SetAgencyDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AgencyServiceSoap" type="tns:AgencyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgencyList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAgencyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgencyUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAgencyUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgencyCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAgencyCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgencyDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAgencyDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AgencyServiceSoap12" type="tns:AgencyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgencyList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAgencyList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgencyUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAgencyUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgencyCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAgencyCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgencyDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAgencyDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgencyService">
    <wsdl:port name="AgencyServiceSoap" binding="tns:AgencyServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/AgencyService.asmx" />
    </wsdl:port>
    <wsdl:port name="AgencyServiceSoap12" binding="tns:AgencyServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/AgencyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>