dev/AdManagerClient/Web References/SummaryAdServicePloxy/SummaryAdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetContractItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SummaryAdModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TotalUser" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ItemDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchContractSeq" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CampaignCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MenuLevel" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContractItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListResult" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryAdTotality">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryAdTotalityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSummaryAdTotalityResult" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryAdDaily">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryAdDailyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSummaryAdDailyResult" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryAdWeekly">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryAdWeeklyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSummaryAdWeeklyResult" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryAdMonthly">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryAdMonthlyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSummaryAdMonthlyResult" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateAccountHouseHold">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateAccountHouseHoldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateAccountHouseHoldResult" type="tns:SummaryAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetContractItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSummaryAdTotalitySoapIn">
    <wsdl:part name="parameters" element="tns:GetSummaryAdTotality" />
  </wsdl:message>
  <wsdl:message name="GetSummaryAdTotalitySoapOut">
    <wsdl:part name="parameters" element="tns:GetSummaryAdTotalityResponse" />
  </wsdl:message>
  <wsdl:message name="GetSummaryAdDailySoapIn">
    <wsdl:part name="parameters" element="tns:GetSummaryAdDaily" />
  </wsdl:message>
  <wsdl:message name="GetSummaryAdDailySoapOut">
    <wsdl:part name="parameters" element="tns:GetSummaryAdDailyResponse" />
  </wsdl:message>
  <wsdl:message name="GetSummaryAdWeeklySoapIn">
    <wsdl:part name="parameters" element="tns:GetSummaryAdWeekly" />
  </wsdl:message>
  <wsdl:message name="GetSummaryAdWeeklySoapOut">
    <wsdl:part name="parameters" element="tns:GetSummaryAdWeeklyResponse" />
  </wsdl:message>
  <wsdl:message name="GetSummaryAdMonthlySoapIn">
    <wsdl:part name="parameters" element="tns:GetSummaryAdMonthly" />
  </wsdl:message>
  <wsdl:message name="GetSummaryAdMonthlySoapOut">
    <wsdl:part name="parameters" element="tns:GetSummaryAdMonthlyResponse" />
  </wsdl:message>
  <wsdl:message name="GetDateAccountHouseHoldSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateAccountHouseHold" />
  </wsdl:message>
  <wsdl:message name="GetDateAccountHouseHoldSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateAccountHouseHoldResponse" />
  </wsdl:message>
  <wsdl:portType name="SummaryAdServiceSoap">
    <wsdl:operation name="GetContractItemList">
      <wsdl:input message="tns:GetContractItemListSoapIn" />
      <wsdl:output message="tns:GetContractItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdTotality">
      <wsdl:input message="tns:GetSummaryAdTotalitySoapIn" />
      <wsdl:output message="tns:GetSummaryAdTotalitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdDaily">
      <wsdl:input message="tns:GetSummaryAdDailySoapIn" />
      <wsdl:output message="tns:GetSummaryAdDailySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdWeekly">
      <wsdl:input message="tns:GetSummaryAdWeeklySoapIn" />
      <wsdl:output message="tns:GetSummaryAdWeeklySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdMonthly">
      <wsdl:input message="tns:GetSummaryAdMonthlySoapIn" />
      <wsdl:output message="tns:GetSummaryAdMonthlySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDateAccountHouseHold">
      <wsdl:input message="tns:GetDateAccountHouseHoldSoapIn" />
      <wsdl:output message="tns:GetDateAccountHouseHoldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SummaryAdServiceSoap" type="tns:SummaryAdServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContractItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdTotality">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSummaryAdTotality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdDaily">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSummaryAdDaily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdWeekly">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSummaryAdWeekly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdMonthly">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSummaryAdMonthly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateAccountHouseHold">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateAccountHouseHold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SummaryAdServiceSoap12" type="tns:SummaryAdServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContractItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdTotality">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSummaryAdTotality" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdDaily">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSummaryAdDaily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdWeekly">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSummaryAdWeekly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryAdMonthly">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSummaryAdMonthly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateAccountHouseHold">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateAccountHouseHold" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SummaryAdService">
    <wsdl:port name="SummaryAdServiceSoap" binding="tns:SummaryAdServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/SummaryAdService.asmx" />
    </wsdl:port>
    <wsdl:port name="SummaryAdServiceSoap12" binding="tns:SummaryAdServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/SummaryAdService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>