dev/AdManagerClient/Web References/CategoryServicePloxy/CategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetCategoryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryModel" type="tns:CategoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoryModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchCategoryLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Flag" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SortNo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CssFlag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InventoryYn" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="InventoryRate" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCategoryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryListResult" type="tns:CategoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryModel" type="tns:CategoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCategoryUpdateResult" type="tns:CategoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryModel" type="tns:CategoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCategoryCreateResult" type="tns:CategoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryModel" type="tns:CategoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCategoryDeleteResult" type="tns:CategoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCategoryListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="GetCategoryListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="SetCategoryUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetCategoryUpdate" />
  </wsdl:message>
  <wsdl:message name="SetCategoryUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetCategoryUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetCategoryCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetCategoryCreate" />
  </wsdl:message>
  <wsdl:message name="SetCategoryCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetCategoryCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetCategoryDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetCategoryDelete" />
  </wsdl:message>
  <wsdl:message name="SetCategoryDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetCategoryDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="CategoryServiceSoap">
    <wsdl:operation name="GetCategoryList">
      <wsdl:input message="tns:GetCategoryListSoapIn" />
      <wsdl:output message="tns:GetCategoryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCategoryUpdate">
      <wsdl:input message="tns:SetCategoryUpdateSoapIn" />
      <wsdl:output message="tns:SetCategoryUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCategoryCreate">
      <wsdl:input message="tns:SetCategoryCreateSoapIn" />
      <wsdl:output message="tns:SetCategoryCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCategoryDelete">
      <wsdl:input message="tns:SetCategoryDeleteSoapIn" />
      <wsdl:output message="tns:SetCategoryDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoryServiceSoap" type="tns:CategoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategoryServiceSoap12" type="tns:CategoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="CategoryServiceSoap" binding="tns:CategoryServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Media/CategoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="CategoryServiceSoap12" binding="tns:CategoryServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Media/CategoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>