dev/AdManagerClient/Web References/MediaMenuSetServiceProxy/MediaMenuSetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetCategoryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MediaMenuSetModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Category" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Genre" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Channel" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="GenreDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ChannelDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCategoryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryListResult" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenreListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenreListResult" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CategoryInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CategoryInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryInsertResult" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CategoryDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CategoryDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryDeleteResult" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenreInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenreInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenreInsertResult" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenreDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenreDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenreDeleteResult" type="tns:MediaMenuSetModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCategoryListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="GetCategoryListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGenreListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenreList" />
  </wsdl:message>
  <wsdl:message name="GetGenreListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenreListResponse" />
  </wsdl:message>
  <wsdl:message name="CategoryInsertSoapIn">
    <wsdl:part name="parameters" element="tns:CategoryInsert" />
  </wsdl:message>
  <wsdl:message name="CategoryInsertSoapOut">
    <wsdl:part name="parameters" element="tns:CategoryInsertResponse" />
  </wsdl:message>
  <wsdl:message name="CategoryDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:CategoryDelete" />
  </wsdl:message>
  <wsdl:message name="CategoryDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:CategoryDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GenreInsertSoapIn">
    <wsdl:part name="parameters" element="tns:GenreInsert" />
  </wsdl:message>
  <wsdl:message name="GenreInsertSoapOut">
    <wsdl:part name="parameters" element="tns:GenreInsertResponse" />
  </wsdl:message>
  <wsdl:message name="GenreDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:GenreDelete" />
  </wsdl:message>
  <wsdl:message name="GenreDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:GenreDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="MediaMenuSetServiceSoap">
    <wsdl:operation name="GetCategoryList">
      <wsdl:input message="tns:GetCategoryListSoapIn" />
      <wsdl:output message="tns:GetCategoryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGenreList">
      <wsdl:input message="tns:GetGenreListSoapIn" />
      <wsdl:output message="tns:GetGenreListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CategoryInsert">
      <wsdl:input message="tns:CategoryInsertSoapIn" />
      <wsdl:output message="tns:CategoryInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CategoryDelete">
      <wsdl:input message="tns:CategoryDeleteSoapIn" />
      <wsdl:output message="tns:CategoryDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenreInsert">
      <wsdl:input message="tns:GenreInsertSoapIn" />
      <wsdl:output message="tns:GenreInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenreDelete">
      <wsdl:input message="tns:GenreDeleteSoapIn" />
      <wsdl:output message="tns:GenreDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediaMenuSetServiceSoap" type="tns:MediaMenuSetServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryInsert">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/CategoryInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/CategoryDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenreInsert">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GenreInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenreDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GenreDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediaMenuSetServiceSoap12" type="tns:MediaMenuSetServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGenreList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryInsert">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/CategoryInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/CategoryDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenreInsert">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GenreInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenreDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GenreDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaMenuSetService">
    <wsdl:port name="MediaMenuSetServiceSoap" binding="tns:MediaMenuSetServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Media/MediaMenuSetService.asmx" />
    </wsdl:port>
    <wsdl:port name="MediaMenuSetServiceSoap12" binding="tns:MediaMenuSetServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Media/MediaMenuSetService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>