dev/AdManagerClient/Web References/SchDesignateServiceProxy/SchDesignateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SchDesignateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchDesignateModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Media" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MediaRep" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemNo" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Category" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Genre" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Channel" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Series" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AdState10" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AdState20" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AdState30" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AdState40" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="DsSchedule">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="DsItem">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListResult" type="tns:SchDesignateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SchDesignateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemListResult" type="tns:SchDesignateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SchDesignateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertDataResult" type="tns:SchDesignateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SchDesignateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteDataResult" type="tns:SchDesignateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="GetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemList" />
  </wsdl:message>
  <wsdl:message name="GetItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemListResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDataSoapIn">
    <wsdl:part name="parameters" element="tns:InsertData" />
  </wsdl:message>
  <wsdl:message name="InsertDataSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteData" />
  </wsdl:message>
  <wsdl:message name="DeleteDataSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SchDesignateServiceSoap">
    <wsdl:operation name="GetList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">지정편성이 설정된 편성정보를 가져옵니다</wsdl:documentation>
      <wsdl:input message="tns:GetListSoapIn" />
      <wsdl:output message="tns:GetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">지정편성 대상 광고목록을 가져옵니다</wsdl:documentation>
      <wsdl:input message="tns:GetItemListSoapIn" />
      <wsdl:output message="tns:GetItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">지정편성을 추가합니다</wsdl:documentation>
      <wsdl:input message="tns:InsertDataSoapIn" />
      <wsdl:output message="tns:InsertDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">지정편성을 삭제합니다</wsdl:documentation>
      <wsdl:input message="tns:DeleteDataSoapIn" />
      <wsdl:output message="tns:DeleteDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchDesignateServiceSoap" type="tns:SchDesignateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertData">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/InsertData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/DeleteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchDesignateServiceSoap12" type="tns:SchDesignateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertData">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/InsertData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/DeleteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchDesignateService">
    <wsdl:port name="SchDesignateServiceSoap" binding="tns:SchDesignateServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchDesignateService.asmx" />
    </wsdl:port>
    <wsdl:port name="SchDesignateServiceSoap12" binding="tns:SchDesignateServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchDesignateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>