dev/AdManagerClient/Web References/ChannelServicePloxy/ChannelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetChannelList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelModel" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChannelModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ChannelDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="MediaDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SeriesNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TotalSeries" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdRate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdnRate" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChannelListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelListResult" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelModel" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelDetailListResult" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelSetDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelModel" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelSetDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelSetDetailListResult" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelModel" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetChannelUpdateResult" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelModel" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetChannelCreateResult" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelModel" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetChannelDeleteResult" type="tns:ChannelModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChannelListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelList" />
  </wsdl:message>
  <wsdl:message name="GetChannelListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelListResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelDetailList" />
  </wsdl:message>
  <wsdl:message name="GetChannelDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelSetDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelSetDetailList" />
  </wsdl:message>
  <wsdl:message name="GetChannelSetDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelSetDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="SetChannelUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetChannelUpdate" />
  </wsdl:message>
  <wsdl:message name="SetChannelUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetChannelUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetChannelCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetChannelCreate" />
  </wsdl:message>
  <wsdl:message name="SetChannelCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetChannelCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetChannelDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetChannelDelete" />
  </wsdl:message>
  <wsdl:message name="SetChannelDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetChannelDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ChannelServiceSoap">
    <wsdl:operation name="GetChannelList">
      <wsdl:input message="tns:GetChannelListSoapIn" />
      <wsdl:output message="tns:GetChannelListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelDetailList">
      <wsdl:input message="tns:GetChannelDetailListSoapIn" />
      <wsdl:output message="tns:GetChannelDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelSetDetailList">
      <wsdl:input message="tns:GetChannelSetDetailListSoapIn" />
      <wsdl:output message="tns:GetChannelSetDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChannelUpdate">
      <wsdl:input message="tns:SetChannelUpdateSoapIn" />
      <wsdl:output message="tns:SetChannelUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChannelCreate">
      <wsdl:input message="tns:SetChannelCreateSoapIn" />
      <wsdl:output message="tns:SetChannelCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChannelDelete">
      <wsdl:input message="tns:SetChannelDeleteSoapIn" />
      <wsdl:output message="tns:SetChannelDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChannelServiceSoap" type="tns:ChannelServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannelList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelSetDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelSetDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChannelServiceSoap12" type="tns:ChannelServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannelList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelSetDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelSetDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChannelService">
    <wsdl:port name="ChannelServiceSoap" binding="tns:ChannelServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebservice/Media/ChannelService.asmx" />
    </wsdl:port>
    <wsdl:port name="ChannelServiceSoap12" binding="tns:ChannelServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebservice/Media/ChannelService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>