dev/AdManagerClient/Web References/ContentsServicePloxy/ContentsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetContentsListCommon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contentsModel" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContentsModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ContentsDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="CheckYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContentKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContentsState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OrgTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContentsListCommonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentsListCommonResult" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contentsModel" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentsListResult" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentsListPopUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contentsModel" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentsListPopUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentsListPopUpResult" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContentsUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contentsModel" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContentsUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContentsUpdateResult" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContentsCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contentsModel" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContentsCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContentsCreateResult" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContentsDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contentsModel" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContentsDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContentsDeleteResult" type="tns:ContentsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetContentsListCommonSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentsListCommon" />
  </wsdl:message>
  <wsdl:message name="GetContentsListCommonSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentsListCommonResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentsList" />
  </wsdl:message>
  <wsdl:message name="GetContentsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentsListPopUpSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentsListPopUp" />
  </wsdl:message>
  <wsdl:message name="GetContentsListPopUpSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentsListPopUpResponse" />
  </wsdl:message>
  <wsdl:message name="SetContentsUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetContentsUpdate" />
  </wsdl:message>
  <wsdl:message name="SetContentsUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetContentsUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetContentsCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetContentsCreate" />
  </wsdl:message>
  <wsdl:message name="SetContentsCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetContentsCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetContentsDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetContentsDelete" />
  </wsdl:message>
  <wsdl:message name="SetContentsDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetContentsDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ContentsServiceSoap">
    <wsdl:operation name="GetContentsListCommon">
      <wsdl:input message="tns:GetContentsListCommonSoapIn" />
      <wsdl:output message="tns:GetContentsListCommonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentsList">
      <wsdl:input message="tns:GetContentsListSoapIn" />
      <wsdl:output message="tns:GetContentsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentsListPopUp">
      <wsdl:input message="tns:GetContentsListPopUpSoapIn" />
      <wsdl:output message="tns:GetContentsListPopUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContentsUpdate">
      <wsdl:input message="tns:SetContentsUpdateSoapIn" />
      <wsdl:output message="tns:SetContentsUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContentsCreate">
      <wsdl:input message="tns:SetContentsCreateSoapIn" />
      <wsdl:output message="tns:SetContentsCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContentsDelete">
      <wsdl:input message="tns:SetContentsDeleteSoapIn" />
      <wsdl:output message="tns:SetContentsDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentsServiceSoap" type="tns:ContentsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContentsListCommon">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentsListCommon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentsList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentsListPopUp">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentsListPopUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContentsUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContentsUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContentsCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContentsCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContentsDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContentsDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentsServiceSoap12" type="tns:ContentsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContentsListCommon">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentsListCommon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentsList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentsListPopUp">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentsListPopUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContentsUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContentsUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContentsCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContentsCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContentsDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContentsDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentsService">
    <wsdl:port name="ContentsServiceSoap" binding="tns:ContentsServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Media/ContentsService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentsServiceSoap12" binding="tns:ContentsServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Media/ContentsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>