dev/AdManagerClient/Web References/AdRatingForecastServiceProxy/AdRatingForecastService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetForecastCategoryCodeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AdRatingForecastModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdRatingForecastModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TotalUser" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ForecastUser" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckedCategory" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CheckedRegion" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CategoryRatio" type="s:float" />
              <s:element minOccurs="1" maxOccurs="1" name="RegionRatio" type="s:float" />
              <s:element minOccurs="1" maxOccurs="1" name="AdCnt" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ForecastCategoryCodeDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ForecastRegionCodeDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="MenuLevel" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetForecastCategoryCodeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetForecastCategoryCodeListResult" type="tns:AdRatingForecastModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetForecastRegionCodeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AdRatingForecastModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetForecastRegionCodeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetForecastRegionCodeListResult" type="tns:AdRatingForecastModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetForecastReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:AdRatingForecastModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetForecastReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetForecastReportResult" type="tns:AdRatingForecastModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetForecastCategoryCodeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetForecastCategoryCodeList" />
  </wsdl:message>
  <wsdl:message name="GetForecastCategoryCodeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetForecastCategoryCodeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetForecastRegionCodeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetForecastRegionCodeList" />
  </wsdl:message>
  <wsdl:message name="GetForecastRegionCodeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetForecastRegionCodeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetForecastReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetForecastReport" />
  </wsdl:message>
  <wsdl:message name="GetForecastReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetForecastReportResponse" />
  </wsdl:message>
  <wsdl:portType name="AdRatingForecastServiceSoap">
    <wsdl:operation name="GetForecastCategoryCodeList">
      <wsdl:input message="tns:GetForecastCategoryCodeListSoapIn" />
      <wsdl:output message="tns:GetForecastCategoryCodeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetForecastRegionCodeList">
      <wsdl:input message="tns:GetForecastRegionCodeListSoapIn" />
      <wsdl:output message="tns:GetForecastRegionCodeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetForecastReport">
      <wsdl:input message="tns:GetForecastReportSoapIn" />
      <wsdl:output message="tns:GetForecastReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdRatingForecastServiceSoap" type="tns:AdRatingForecastServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetForecastCategoryCodeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetForecastCategoryCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForecastRegionCodeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetForecastRegionCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForecastReport">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetForecastReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdRatingForecastServiceSoap12" type="tns:AdRatingForecastServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetForecastCategoryCodeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetForecastCategoryCodeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForecastRegionCodeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetForecastRegionCodeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForecastReport">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetForecastReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdRatingForecastService">
    <wsdl:port name="AdRatingForecastServiceSoap" binding="tns:AdRatingForecastServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Forecast/AdRatingForecastService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdRatingForecastServiceSoap12" binding="tns:AdRatingForecastServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Forecast/AdRatingForecastService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>