dev/AdManagerClient/Web References/ContractPackageServicePloxy/ContractPackageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetContractPackageList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ContractPackageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContractPackageModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PackageDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRap" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchUse" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PackageNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PackageName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractAmt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BonusRate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYn" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContractPackageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractPackageListResult" type="tns:ContractPackageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractPackageUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ContractPackageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractPackageUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContractPackageUpdateResult" type="tns:ContractPackageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractPackageCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ContractPackageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractPackageCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContractPackageCreateResult" type="tns:ContractPackageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractPackageDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ContractPackageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractPackageDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContractPackageDeleteResult" type="tns:ContractPackageModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetContractPackageListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractPackageList" />
  </wsdl:message>
  <wsdl:message name="GetContractPackageListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractPackageListResponse" />
  </wsdl:message>
  <wsdl:message name="SetContractPackageUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetContractPackageUpdate" />
  </wsdl:message>
  <wsdl:message name="SetContractPackageUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetContractPackageUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetContractPackageCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetContractPackageCreate" />
  </wsdl:message>
  <wsdl:message name="SetContractPackageCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetContractPackageCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetContractPackageDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetContractPackageDelete" />
  </wsdl:message>
  <wsdl:message name="SetContractPackageDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetContractPackageDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ContractPackageServiceSoap">
    <wsdl:operation name="GetContractPackageList">
      <wsdl:input message="tns:GetContractPackageListSoapIn" />
      <wsdl:output message="tns:GetContractPackageListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContractPackageUpdate">
      <wsdl:input message="tns:SetContractPackageUpdateSoapIn" />
      <wsdl:output message="tns:SetContractPackageUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContractPackageCreate">
      <wsdl:input message="tns:SetContractPackageCreateSoapIn" />
      <wsdl:output message="tns:SetContractPackageCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContractPackageDelete">
      <wsdl:input message="tns:SetContractPackageDeleteSoapIn" />
      <wsdl:output message="tns:SetContractPackageDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContractPackageServiceSoap" type="tns:ContractPackageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContractPackageList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractPackageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractPackageUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractPackageUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractPackageCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractPackageCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractPackageDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractPackageDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContractPackageServiceSoap12" type="tns:ContractPackageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContractPackageList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractPackageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractPackageUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractPackageUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractPackageCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractPackageCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractPackageDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractPackageDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractPackageService">
    <wsdl:port name="ContractPackageServiceSoap" binding="tns:ContractPackageServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/ContractPackageService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContractPackageServiceSoap12" binding="tns:ContractPackageServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/ContractPackageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>