dev/AdManagerClient/Web References/RatioServicePloxy/RatioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetSchChoiceMenuDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RatioModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MenuDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SchRateDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SchRateDetailDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="Group1DataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="Group2DataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="Group3DataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="Group4DataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="Group5DataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EntrySeq" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EntryRate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EntryYN" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSchChoiceMenuDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchChoiceMenuDetailListResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchRateList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchRateListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchRateListResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchRateDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchRateDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchRateDetailListResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup1List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup1ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroup1ListResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup2List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup2ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroup2ListResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup3List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup3ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroup3ListResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup4List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup4ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroup4ListResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup5List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup5ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroup5ListResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchRateUpdateResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchRateCreateResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateDetailCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateDetailCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchRateDetailCreateResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchRateDeleteResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateDetailDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchRateDetailDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchRateDetailDeleteResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mDeleteSync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ratioModel" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mDeleteSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mDeleteSyncResult" type="tns:RatioModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSchChoiceMenuDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchChoiceMenuDetailList" />
  </wsdl:message>
  <wsdl:message name="GetSchChoiceMenuDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchChoiceMenuDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchRateListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchRateList" />
  </wsdl:message>
  <wsdl:message name="GetSchRateListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchRateListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchRateDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchRateDetailList" />
  </wsdl:message>
  <wsdl:message name="GetSchRateDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchRateDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroup1ListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroup1List" />
  </wsdl:message>
  <wsdl:message name="GetGroup1ListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroup1ListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroup2ListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroup2List" />
  </wsdl:message>
  <wsdl:message name="GetGroup2ListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroup2ListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroup3ListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroup3List" />
  </wsdl:message>
  <wsdl:message name="GetGroup3ListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroup3ListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroup4ListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroup4List" />
  </wsdl:message>
  <wsdl:message name="GetGroup4ListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroup4ListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroup5ListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroup5List" />
  </wsdl:message>
  <wsdl:message name="GetGroup5ListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroup5ListResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchRateUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchRateUpdate" />
  </wsdl:message>
  <wsdl:message name="SetSchRateUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchRateUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchRateCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchRateCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchRateCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchRateCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchRateDetailCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchRateDetailCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchRateDetailCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchRateDetailCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchRateDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchRateDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchRateDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchRateDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchRateDetailDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchRateDetailDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchRateDetailDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchRateDetailDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="mDeleteSyncSoapIn">
    <wsdl:part name="parameters" element="tns:mDeleteSync" />
  </wsdl:message>
  <wsdl:message name="mDeleteSyncSoapOut">
    <wsdl:part name="parameters" element="tns:mDeleteSyncResponse" />
  </wsdl:message>
  <wsdl:portType name="RatioServiceSoap">
    <wsdl:operation name="GetSchChoiceMenuDetailList">
      <wsdl:input message="tns:GetSchChoiceMenuDetailListSoapIn" />
      <wsdl:output message="tns:GetSchChoiceMenuDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchRateList">
      <wsdl:input message="tns:GetSchRateListSoapIn" />
      <wsdl:output message="tns:GetSchRateListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchRateDetailList">
      <wsdl:input message="tns:GetSchRateDetailListSoapIn" />
      <wsdl:output message="tns:GetSchRateDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup1List">
      <wsdl:input message="tns:GetGroup1ListSoapIn" />
      <wsdl:output message="tns:GetGroup1ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup2List">
      <wsdl:input message="tns:GetGroup2ListSoapIn" />
      <wsdl:output message="tns:GetGroup2ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup3List">
      <wsdl:input message="tns:GetGroup3ListSoapIn" />
      <wsdl:output message="tns:GetGroup3ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup4List">
      <wsdl:input message="tns:GetGroup4ListSoapIn" />
      <wsdl:output message="tns:GetGroup4ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup5List">
      <wsdl:input message="tns:GetGroup5ListSoapIn" />
      <wsdl:output message="tns:GetGroup5ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchRateUpdate">
      <wsdl:input message="tns:SetSchRateUpdateSoapIn" />
      <wsdl:output message="tns:SetSchRateUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchRateCreate">
      <wsdl:input message="tns:SetSchRateCreateSoapIn" />
      <wsdl:output message="tns:SetSchRateCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchRateDetailCreate">
      <wsdl:input message="tns:SetSchRateDetailCreateSoapIn" />
      <wsdl:output message="tns:SetSchRateDetailCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchRateDelete">
      <wsdl:input message="tns:SetSchRateDeleteSoapIn" />
      <wsdl:output message="tns:SetSchRateDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchRateDetailDelete">
      <wsdl:input message="tns:SetSchRateDetailDeleteSoapIn" />
      <wsdl:output message="tns:SetSchRateDetailDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mDeleteSync">
      <wsdl:input message="tns:mDeleteSyncSoapIn" />
      <wsdl:output message="tns:mDeleteSyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RatioServiceSoap" type="tns:RatioServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchChoiceMenuDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceMenuDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchRateList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchRateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchRateDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchRateDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup1List">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup1List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup2List">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup2List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup3List">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup3List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup4List">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup4List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup5List">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup5List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateDetailCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateDetailCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateDetailDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateDetailDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mDeleteSync">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/mDeleteSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RatioServiceSoap12" type="tns:RatioServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchChoiceMenuDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchChoiceMenuDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchRateList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchRateList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchRateDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchRateDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup1List">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup1List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup2List">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup2List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup3List">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup3List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup4List">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup4List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup5List">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGroup5List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateDetailCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateDetailCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchRateDetailDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchRateDetailDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mDeleteSync">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/mDeleteSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RatioService">
    <wsdl:port name="RatioServiceSoap" binding="tns:RatioServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Target/RatioService.asmx" />
    </wsdl:port>
    <wsdl:port name="RatioServiceSoap12" binding="tns:RatioServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Target/RatioService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>