dev/AdManagerClient/Web References/DateSummaryServicePloxy/DateSummaryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetDateGenre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateSummaryModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="HeaderDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="StartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdList" type="tns:ArrayOfAnyType" />
              <s:element minOccurs="0" maxOccurs="1" name="AdListStr" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDateGenreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateGenreResult" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateChannelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateChannelResult" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateGenreByJava">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateGenreByJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateGenreByJavaResult" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateChannelByJava">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateChannelByJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateChannelByJavaResult" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelAreaResult" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelAreaByJava">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelAreaByJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelAreaByJavaResult" type="tns:DateSummaryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDateGenreSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateGenre" />
  </wsdl:message>
  <wsdl:message name="GetDateGenreSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateGenreResponse" />
  </wsdl:message>
  <wsdl:message name="GetDateChannelSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateChannel" />
  </wsdl:message>
  <wsdl:message name="GetDateChannelSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateChannelResponse" />
  </wsdl:message>
  <wsdl:message name="GetDateGenreByJavaSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateGenreByJava" />
  </wsdl:message>
  <wsdl:message name="GetDateGenreByJavaSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateGenreByJavaResponse" />
  </wsdl:message>
  <wsdl:message name="GetDateChannelByJavaSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateChannelByJava" />
  </wsdl:message>
  <wsdl:message name="GetDateChannelByJavaSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateChannelByJavaResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelAreaSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelArea" />
  </wsdl:message>
  <wsdl:message name="GetChannelAreaSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelAreaResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelAreaByJavaSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelAreaByJava" />
  </wsdl:message>
  <wsdl:message name="GetChannelAreaByJavaSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelAreaByJavaResponse" />
  </wsdl:message>
  <wsdl:portType name="DateSummaryServiceSoap">
    <wsdl:operation name="GetDateGenre">
      <wsdl:input message="tns:GetDateGenreSoapIn" />
      <wsdl:output message="tns:GetDateGenreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDateChannel">
      <wsdl:input message="tns:GetDateChannelSoapIn" />
      <wsdl:output message="tns:GetDateChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDateGenreByJava">
      <wsdl:input message="tns:GetDateGenreByJavaSoapIn" />
      <wsdl:output message="tns:GetDateGenreByJavaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDateChannelByJava">
      <wsdl:input message="tns:GetDateChannelByJavaSoapIn" />
      <wsdl:output message="tns:GetDateChannelByJavaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelArea">
      <wsdl:input message="tns:GetChannelAreaSoapIn" />
      <wsdl:output message="tns:GetChannelAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelAreaByJava">
      <wsdl:input message="tns:GetChannelAreaByJavaSoapIn" />
      <wsdl:output message="tns:GetChannelAreaByJavaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DateSummaryServiceSoap" type="tns:DateSummaryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateGenre">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateChannel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateGenreByJava">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateGenreByJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateChannelByJava">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateChannelByJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelArea">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelAreaByJava">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelAreaByJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DateSummaryServiceSoap12" type="tns:DateSummaryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateGenre">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateGenre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateChannel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateGenreByJava">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateGenreByJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateChannelByJava">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateChannelByJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelArea">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelAreaByJava">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelAreaByJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DateSummaryService">
    <wsdl:port name="DateSummaryServiceSoap" binding="tns:DateSummaryServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/DateSummaryService.asmx" />
    </wsdl:port>
    <wsdl:port name="DateSummaryServiceSoap12" binding="tns:DateSummaryServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/DateSummaryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>