dev/AdManagerClient/Web References/GradeServicePloxy/GradeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetGradeCodeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="gradeModel" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GradeModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="GradeDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ContractItemDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchUserLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Grade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModDt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code_O" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGradeCodeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGradeCodeListResult" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGradeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="gradeModel" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGradeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGradeListResult" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="gradeModel" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListResult" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGradeUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="gradeModel" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGradeUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGradeUpdateResult" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGradeCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="gradeModel" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGradeCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGradeCreateResult" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGradeDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="gradeModel" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGradeDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetGradeDeleteResult" type="tns:GradeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGradeCodeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGradeCodeList" />
  </wsdl:message>
  <wsdl:message name="GetGradeCodeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGradeCodeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGradeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGradeList" />
  </wsdl:message>
  <wsdl:message name="GetGradeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGradeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListResponse" />
  </wsdl:message>
  <wsdl:message name="SetGradeUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetGradeUpdate" />
  </wsdl:message>
  <wsdl:message name="SetGradeUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetGradeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetGradeCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetGradeCreate" />
  </wsdl:message>
  <wsdl:message name="SetGradeCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetGradeCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetGradeDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetGradeDelete" />
  </wsdl:message>
  <wsdl:message name="SetGradeDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetGradeDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="GradeServiceSoap">
    <wsdl:operation name="GetGradeCodeList">
      <wsdl:input message="tns:GetGradeCodeListSoapIn" />
      <wsdl:output message="tns:GetGradeCodeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGradeList">
      <wsdl:input message="tns:GetGradeListSoapIn" />
      <wsdl:output message="tns:GetGradeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <wsdl:input message="tns:GetContractItemListSoapIn" />
      <wsdl:output message="tns:GetContractItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGradeUpdate">
      <wsdl:input message="tns:SetGradeUpdateSoapIn" />
      <wsdl:output message="tns:SetGradeUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGradeCreate">
      <wsdl:input message="tns:SetGradeCreateSoapIn" />
      <wsdl:output message="tns:SetGradeCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGradeDelete">
      <wsdl:input message="tns:SetGradeDeleteSoapIn" />
      <wsdl:output message="tns:SetGradeDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GradeServiceSoap" type="tns:GradeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGradeCodeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGradeCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGradeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGradeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGradeUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGradeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGradeCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGradeCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGradeDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGradeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GradeServiceSoap12" type="tns:GradeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGradeCodeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGradeCodeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGradeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGradeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGradeUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGradeUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGradeCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGradeCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGradeDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetGradeDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GradeService">
    <wsdl:port name="GradeServiceSoap" binding="tns:GradeServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Target/GradeService.asmx" />
    </wsdl:port>
    <wsdl:port name="GradeServiceSoap12" binding="tns:GradeServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Target/GradeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>