dev/AdManagerClient/Web References/AdStatusServicePloxy/AdStatusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetAdStatusList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adStatusModel" type="tns:AdStatusModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdStatusModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AdStatusDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchFileState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchFileState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchFileState_90" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RealEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileLength" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DownLevel" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAdStatusListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdStatusListResult" type="tns:AdStatusModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdStatusList_Comp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adStatusModel" type="tns:AdStatusModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdStatusList_CompResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdStatusList_CompResult" type="tns:AdStatusModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdStatusListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdStatusList" />
  </wsdl:message>
  <wsdl:message name="GetAdStatusListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdStatusListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdStatusList_CompSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdStatusList_Comp" />
  </wsdl:message>
  <wsdl:message name="GetAdStatusList_CompSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdStatusList_CompResponse" />
  </wsdl:message>
  <wsdl:portType name="AdStatusServiceSoap">
    <wsdl:operation name="GetAdStatusList">
      <wsdl:input message="tns:GetAdStatusListSoapIn" />
      <wsdl:output message="tns:GetAdStatusListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdStatusList_Comp">
      <wsdl:input message="tns:GetAdStatusList_CompSoapIn" />
      <wsdl:output message="tns:GetAdStatusList_CompSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdStatusServiceSoap" type="tns:AdStatusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdStatusList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdStatusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdStatusList_Comp">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdStatusList_Comp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdStatusServiceSoap12" type="tns:AdStatusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdStatusList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdStatusList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdStatusList_Comp">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdStatusList_Comp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdStatusService">
    <wsdl:port name="AdStatusServiceSoap" binding="tns:AdStatusServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/AdStatusService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdStatusServiceSoap12" binding="tns:AdStatusServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/AdStatusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>