dev/AdManagerClient/Web References/InterfaceServicePloxy/InterfaceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetAdvertiserList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdvertiserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdvertiserListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList">
        <s:complexType />
      </s:element>
      <s:element name="GetContractItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileCheckReady">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileCheckReadyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetFileCheckReadyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileCDNSync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SuccessYN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contents_state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileCDNSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetFileCDNSyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdvertiserListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdvertiserList" />
  </wsdl:message>
  <wsdl:message name="GetAdvertiserListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdvertiserListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractList" />
  </wsdl:message>
  <wsdl:message name="GetContractListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractListResponse" />
  </wsdl:message>
  <wsdl:message name="SetFileCheckReadySoapIn">
    <wsdl:part name="parameters" element="tns:SetFileCheckReady" />
  </wsdl:message>
  <wsdl:message name="SetFileCheckReadySoapOut">
    <wsdl:part name="parameters" element="tns:SetFileCheckReadyResponse" />
  </wsdl:message>
  <wsdl:message name="SetFileCDNSyncSoapIn">
    <wsdl:part name="parameters" element="tns:SetFileCDNSync" />
  </wsdl:message>
  <wsdl:message name="SetFileCDNSyncSoapOut">
    <wsdl:part name="parameters" element="tns:SetFileCDNSyncResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfaceServiceSoap">
    <wsdl:operation name="GetAdvertiserList">
      <wsdl:input message="tns:GetAdvertiserListSoapIn" />
      <wsdl:output message="tns:GetAdvertiserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <wsdl:input message="tns:GetContractItemListSoapIn" />
      <wsdl:output message="tns:GetContractItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractList">
      <wsdl:input message="tns:GetContractListSoapIn" />
      <wsdl:output message="tns:GetContractListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFileCheckReady">
      <wsdl:input message="tns:SetFileCheckReadySoapIn" />
      <wsdl:output message="tns:SetFileCheckReadySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFileCDNSync">
      <wsdl:input message="tns:SetFileCDNSyncSoapIn" />
      <wsdl:output message="tns:SetFileCDNSyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InterfaceServiceSoap" type="tns:InterfaceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdvertiserList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdvertiserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileCheckReady">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileCheckReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileCDNSync">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileCDNSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InterfaceServiceSoap12" type="tns:InterfaceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdvertiserList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdvertiserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileCheckReady">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileCheckReady" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileCDNSync">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileCDNSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterfaceService">
    <wsdl:port name="InterfaceServiceSoap" binding="tns:InterfaceServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Interface/InterfaceService.asmx" />
    </wsdl:port>
    <wsdl:port name="InterfaceServiceSoap12" binding="tns:InterfaceServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Interface/InterfaceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>