dev/AdManagerClient/Web References/AdFileServicePloxy/AdFileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetAdFileList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileModel" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdFileModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AdFileDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="HistoryDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdvertiserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchFileType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkFileState_11" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkFileState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkFileState_12" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkFileState_15" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkFileState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkFileState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkFileState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkFileState_90" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="newItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PreFileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileLength" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DownLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpUploadID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpUploadPW" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpUploadHost" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpUploadPort" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpUploadPath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpMovePath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpMoveUseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpCdnID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpCdnPW" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpCdnHost" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpCdnPort" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CmsMasUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CmsMasQuery" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Flag" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAdFileListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdFileListResult" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdFileSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileModel" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdFileSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdFileSearchResult" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPublishHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileModel" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPublishHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPublishHistoryResult" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileModel" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdFileUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAdFileUpdateResult" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileModel" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetFileUpdateResult" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFtpConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileModel" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFtpConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFtpConfigResult" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileRepHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="adFileModel" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileRepHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileRepHistoryResult" type="tns:AdFileModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdFileListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdFileList" />
  </wsdl:message>
  <wsdl:message name="GetAdFileListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdFileListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdFileSearchSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdFileSearch" />
  </wsdl:message>
  <wsdl:message name="GetAdFileSearchSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdFileSearchResponse" />
  </wsdl:message>
  <wsdl:message name="GetPublishHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetPublishHistory" />
  </wsdl:message>
  <wsdl:message name="GetPublishHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetPublishHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdFileUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdFileUpdate" />
  </wsdl:message>
  <wsdl:message name="SetAdFileUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdFileUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetFileUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetFileUpdate" />
  </wsdl:message>
  <wsdl:message name="SetFileUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetFileUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetFtpConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetFtpConfig" />
  </wsdl:message>
  <wsdl:message name="GetFtpConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetFtpConfigResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileRepHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetFileRepHistory" />
  </wsdl:message>
  <wsdl:message name="GetFileRepHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetFileRepHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="AdFileServiceSoap">
    <wsdl:operation name="GetAdFileList">
      <wsdl:input message="tns:GetAdFileListSoapIn" />
      <wsdl:output message="tns:GetAdFileListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdFileSearch">
      <wsdl:input message="tns:GetAdFileSearchSoapIn" />
      <wsdl:output message="tns:GetAdFileSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPublishHistory">
      <wsdl:input message="tns:GetPublishHistorySoapIn" />
      <wsdl:output message="tns:GetPublishHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdFileUpdate">
      <wsdl:input message="tns:SetAdFileUpdateSoapIn" />
      <wsdl:output message="tns:SetAdFileUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFileUpdate">
      <wsdl:input message="tns:SetFileUpdateSoapIn" />
      <wsdl:output message="tns:SetFileUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFtpConfig">
      <wsdl:input message="tns:GetFtpConfigSoapIn" />
      <wsdl:output message="tns:GetFtpConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileRepHistory">
      <wsdl:input message="tns:GetFileRepHistorySoapIn" />
      <wsdl:output message="tns:GetFileRepHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdFileServiceSoap" type="tns:AdFileServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdFileList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdFileSearch">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdFileSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublishHistory">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetPublishHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFtpConfig">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetFtpConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileRepHistory">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetFileRepHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdFileServiceSoap12" type="tns:AdFileServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdFileList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdFileSearch">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdFileSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublishHistory">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetPublishHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdFileUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetAdFileUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFtpConfig">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetFtpConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileRepHistory">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetFileRepHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdFileService">
    <wsdl:port name="AdFileServiceSoap" binding="tns:AdFileServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/AdFileService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdFileServiceSoap12" binding="tns:AdFileServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Contract/AdFileService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>