dev/AdManagerClient/Web References/ContractItemServicePloxy/ContractItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetGradeCodeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContractItemModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AdTypeChangeType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractItemDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="LinkChannelDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="GradeDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdvertiserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractSeq" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExcuteStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExcuteEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RealEndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdRate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileLength" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DownLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HistoryType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LinkChannel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mgrade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HomeYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CugYn" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="STBType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchChkSch_YN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Flag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleTypeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkType" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGradeCodeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGradeCodeListResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemDetailResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkChannelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinkChannelResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkChannel2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkChannel2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinkChannel2Result" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinkItemResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemHIstoryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemHIstoryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemHIstoryListResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileListResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelListResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentsListResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wGetFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wGetFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wGetFileInfoResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetFileCreateResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetFileUpdateResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFileDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetFileDeleteResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkChannelCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkChannelCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetLinkChannelCreateResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkChannelCreate2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkChannelCreate2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetLinkChannelCreate2Result" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractItemUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractItemUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContractItemUpdateResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractItemCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractItemCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContractItemCreateResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkChannelDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkChannelDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetLinkChannelDeleteResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkChannelDelete2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkChannelDelete2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetLinkChannelDelete2Result" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractItemDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractItemDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContractItemDeleteResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetContractItemCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ItemCopyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ItemCopyModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ItemNoSou" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemNoDes" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExcuteStartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExcuteEndDay" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SetContractItemCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetContractItemCopyResult" type="tns:ItemCopyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMultiAdState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMultiAdStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMultiAdStateResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMultiChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMultiChannelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMultiChannelResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkItemCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkItemCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetLinkItemCreateResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkItemDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="contractItemModel" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLinkItemDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetLinkItemDeleteResult" type="tns:ContractItemModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGradeCodeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGradeCodeList" />
  </wsdl:message>
  <wsdl:message name="GetGradeCodeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGradeCodeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemDetail" />
  </wsdl:message>
  <wsdl:message name="GetContractItemDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinkChannelSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkChannel" />
  </wsdl:message>
  <wsdl:message name="GetLinkChannelSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkChannelResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinkChannel2SoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkChannel2" />
  </wsdl:message>
  <wsdl:message name="GetLinkChannel2SoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkChannel2Response" />
  </wsdl:message>
  <wsdl:message name="GetLinkItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkItem" />
  </wsdl:message>
  <wsdl:message name="GetLinkItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemHIstoryListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemHIstoryList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemHIstoryListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemHIstoryListResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileListSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="GetFileListSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelList" />
  </wsdl:message>
  <wsdl:message name="GetChannelListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentsList" />
  </wsdl:message>
  <wsdl:message name="GetContentsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentsListResponse" />
  </wsdl:message>
  <wsdl:message name="wGetFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:wGetFileInfo" />
  </wsdl:message>
  <wsdl:message name="wGetFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:wGetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetFileCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetFileCreate" />
  </wsdl:message>
  <wsdl:message name="SetFileCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetFileCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetFileUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetFileUpdate" />
  </wsdl:message>
  <wsdl:message name="SetFileUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetFileUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetFileDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetFileDelete" />
  </wsdl:message>
  <wsdl:message name="SetFileDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetFileDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetLinkChannelCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetLinkChannelCreate" />
  </wsdl:message>
  <wsdl:message name="SetLinkChannelCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetLinkChannelCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetLinkChannelCreate2SoapIn">
    <wsdl:part name="parameters" element="tns:SetLinkChannelCreate2" />
  </wsdl:message>
  <wsdl:message name="SetLinkChannelCreate2SoapOut">
    <wsdl:part name="parameters" element="tns:SetLinkChannelCreate2Response" />
  </wsdl:message>
  <wsdl:message name="SetContractItemUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetContractItemUpdate" />
  </wsdl:message>
  <wsdl:message name="SetContractItemUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetContractItemUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetContractItemCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetContractItemCreate" />
  </wsdl:message>
  <wsdl:message name="SetContractItemCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetContractItemCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetLinkChannelDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetLinkChannelDelete" />
  </wsdl:message>
  <wsdl:message name="SetLinkChannelDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetLinkChannelDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetLinkChannelDelete2SoapIn">
    <wsdl:part name="parameters" element="tns:SetLinkChannelDelete2" />
  </wsdl:message>
  <wsdl:message name="SetLinkChannelDelete2SoapOut">
    <wsdl:part name="parameters" element="tns:SetLinkChannelDelete2Response" />
  </wsdl:message>
  <wsdl:message name="SetContractItemDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetContractItemDelete" />
  </wsdl:message>
  <wsdl:message name="SetContractItemDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetContractItemDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetContractItemCopySoapIn">
    <wsdl:part name="parameters" element="tns:SetContractItemCopy" />
  </wsdl:message>
  <wsdl:message name="SetContractItemCopySoapOut">
    <wsdl:part name="parameters" element="tns:SetContractItemCopyResponse" />
  </wsdl:message>
  <wsdl:message name="SetMultiAdStateSoapIn">
    <wsdl:part name="parameters" element="tns:SetMultiAdState" />
  </wsdl:message>
  <wsdl:message name="SetMultiAdStateSoapOut">
    <wsdl:part name="parameters" element="tns:SetMultiAdStateResponse" />
  </wsdl:message>
  <wsdl:message name="SetMultiChannelSoapIn">
    <wsdl:part name="parameters" element="tns:SetMultiChannel" />
  </wsdl:message>
  <wsdl:message name="SetMultiChannelSoapOut">
    <wsdl:part name="parameters" element="tns:SetMultiChannelResponse" />
  </wsdl:message>
  <wsdl:message name="SetLinkItemCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetLinkItemCreate" />
  </wsdl:message>
  <wsdl:message name="SetLinkItemCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetLinkItemCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetLinkItemDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetLinkItemDelete" />
  </wsdl:message>
  <wsdl:message name="SetLinkItemDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetLinkItemDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ContractItemServiceSoap">
    <wsdl:operation name="GetGradeCodeList">
      <wsdl:input message="tns:GetGradeCodeListSoapIn" />
      <wsdl:output message="tns:GetGradeCodeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <wsdl:input message="tns:GetContractItemListSoapIn" />
      <wsdl:output message="tns:GetContractItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemDetail">
      <wsdl:input message="tns:GetContractItemDetailSoapIn" />
      <wsdl:output message="tns:GetContractItemDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinkChannel">
      <wsdl:input message="tns:GetLinkChannelSoapIn" />
      <wsdl:output message="tns:GetLinkChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinkChannel2">
      <wsdl:input message="tns:GetLinkChannel2SoapIn" />
      <wsdl:output message="tns:GetLinkChannel2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinkItem">
      <wsdl:input message="tns:GetLinkItemSoapIn" />
      <wsdl:output message="tns:GetLinkItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemHIstoryList">
      <wsdl:input message="tns:GetContractItemHIstoryListSoapIn" />
      <wsdl:output message="tns:GetContractItemHIstoryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input message="tns:GetFileListSoapIn" />
      <wsdl:output message="tns:GetFileListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <wsdl:input message="tns:GetChannelListSoapIn" />
      <wsdl:output message="tns:GetChannelListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentsList">
      <wsdl:input message="tns:GetContentsListSoapIn" />
      <wsdl:output message="tns:GetContentsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wGetFileInfo">
      <wsdl:input message="tns:wGetFileInfoSoapIn" />
      <wsdl:output message="tns:wGetFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFileCreate">
      <wsdl:input message="tns:SetFileCreateSoapIn" />
      <wsdl:output message="tns:SetFileCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFileUpdate">
      <wsdl:input message="tns:SetFileUpdateSoapIn" />
      <wsdl:output message="tns:SetFileUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFileDelete">
      <wsdl:input message="tns:SetFileDeleteSoapIn" />
      <wsdl:output message="tns:SetFileDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelCreate">
      <wsdl:input message="tns:SetLinkChannelCreateSoapIn" />
      <wsdl:output message="tns:SetLinkChannelCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelCreate2">
      <wsdl:input message="tns:SetLinkChannelCreate2SoapIn" />
      <wsdl:output message="tns:SetLinkChannelCreate2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContractItemUpdate">
      <wsdl:input message="tns:SetContractItemUpdateSoapIn" />
      <wsdl:output message="tns:SetContractItemUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContractItemCreate">
      <wsdl:input message="tns:SetContractItemCreateSoapIn" />
      <wsdl:output message="tns:SetContractItemCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelDelete">
      <wsdl:input message="tns:SetLinkChannelDeleteSoapIn" />
      <wsdl:output message="tns:SetLinkChannelDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelDelete2">
      <wsdl:input message="tns:SetLinkChannelDelete2SoapIn" />
      <wsdl:output message="tns:SetLinkChannelDelete2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContractItemDelete">
      <wsdl:input message="tns:SetContractItemDeleteSoapIn" />
      <wsdl:output message="tns:SetContractItemDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetContractItemCopy">
      <wsdl:input message="tns:SetContractItemCopySoapIn" />
      <wsdl:output message="tns:SetContractItemCopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMultiAdState">
      <wsdl:input message="tns:SetMultiAdStateSoapIn" />
      <wsdl:output message="tns:SetMultiAdStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMultiChannel">
      <wsdl:input message="tns:SetMultiChannelSoapIn" />
      <wsdl:output message="tns:SetMultiChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLinkItemCreate">
      <wsdl:input message="tns:SetLinkItemCreateSoapIn" />
      <wsdl:output message="tns:SetLinkItemCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLinkItemDelete">
      <wsdl:input message="tns:SetLinkItemDeleteSoapIn" />
      <wsdl:output message="tns:SetLinkItemDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContractItemServiceSoap" type="tns:ContractItemServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGradeCodeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGradeCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemDetail">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkChannel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetLinkChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkChannel2">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetLinkChannel2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkItem">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetLinkItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemHIstoryList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemHIstoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentsList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wGetFileInfo">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/wGetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkChannelCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelCreate2">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkChannelCreate2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractItemUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractItemUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractItemCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractItemCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkChannelDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelDelete2">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkChannelDelete2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractItemDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractItemDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractItemCopy">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractItemCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMultiAdState">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMultiAdState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMultiChannel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMultiChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkItemCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkItemCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkItemDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkItemDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContractItemServiceSoap12" type="tns:ContractItemServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGradeCodeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetGradeCodeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemDetail">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkChannel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetLinkChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkChannel2">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetLinkChannel2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkItem">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetLinkItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemHIstoryList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemHIstoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentsList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wGetFileInfo">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/wGetFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetFileDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkChannelCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelCreate2">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkChannelCreate2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractItemUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractItemUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractItemCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractItemCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkChannelDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkChannelDelete2">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkChannelDelete2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractItemDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractItemDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetContractItemCopy">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetContractItemCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMultiAdState">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMultiAdState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMultiChannel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMultiChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkItemCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkItemCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLinkItemDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetLinkItemDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractItemService">
    <wsdl:port name="ContractItemServiceSoap" binding="tns:ContractItemServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV7/Contract/ContractItemService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContractItemServiceSoap12" binding="tns:ContractItemServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV7/Contract/ContractItemService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>