dev/AdManagerClient/Web References/ChannelGroupServicePloxy/ChannelGroupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetChannelGroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelGroupModel" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChannelGroupModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:AdGroupModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ChannelGroupDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ChannelGroup_pDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ChannelNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AdGroupModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AdGroupDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="MediaDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdGroupCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AdGroupName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UseYnName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChannelGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelGroupListResult" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelGroupDetailList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelGroupModel" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelGroupDetailListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelGroupDetailListResult" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList_p">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelGroupModel" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList_pResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelList_pResult" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList_Excel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelGroupModel" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList_ExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelList_ExcelResult" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelGroupUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelGroupModel" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelGroupUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetChannelGroupUpdateResult" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelGroupCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelGroupModel" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelGroupCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetChannelGroupCreateResult" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelGroupDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="channelGroupModel" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelGroupDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetChannelGroupDeleteResult" type="tns:ChannelGroupModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChannelGroupListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelGroupList" />
  </wsdl:message>
  <wsdl:message name="GetChannelGroupListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelGroupDetailListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelGroupDetailList" />
  </wsdl:message>
  <wsdl:message name="GetChannelGroupDetailListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelGroupDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelList_pSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelList_p" />
  </wsdl:message>
  <wsdl:message name="GetChannelList_pSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelList_pResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelList_ExcelSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelList_Excel" />
  </wsdl:message>
  <wsdl:message name="GetChannelList_ExcelSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelList_ExcelResponse" />
  </wsdl:message>
  <wsdl:message name="SetChannelGroupUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetChannelGroupUpdate" />
  </wsdl:message>
  <wsdl:message name="SetChannelGroupUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetChannelGroupUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetChannelGroupCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetChannelGroupCreate" />
  </wsdl:message>
  <wsdl:message name="SetChannelGroupCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetChannelGroupCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetChannelGroupDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetChannelGroupDelete" />
  </wsdl:message>
  <wsdl:message name="SetChannelGroupDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetChannelGroupDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ChannelGroupServiceSoap">
    <wsdl:operation name="GetChannelGroupList">
      <wsdl:input message="tns:GetChannelGroupListSoapIn" />
      <wsdl:output message="tns:GetChannelGroupListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelGroupDetailList">
      <wsdl:input message="tns:GetChannelGroupDetailListSoapIn" />
      <wsdl:output message="tns:GetChannelGroupDetailListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_p">
      <wsdl:input message="tns:GetChannelList_pSoapIn" />
      <wsdl:output message="tns:GetChannelList_pSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_Excel">
      <wsdl:input message="tns:GetChannelList_ExcelSoapIn" />
      <wsdl:output message="tns:GetChannelList_ExcelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChannelGroupUpdate">
      <wsdl:input message="tns:SetChannelGroupUpdateSoapIn" />
      <wsdl:output message="tns:SetChannelGroupUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChannelGroupCreate">
      <wsdl:input message="tns:SetChannelGroupCreateSoapIn" />
      <wsdl:output message="tns:SetChannelGroupCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChannelGroupDelete">
      <wsdl:input message="tns:SetChannelGroupDeleteSoapIn" />
      <wsdl:output message="tns:SetChannelGroupDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChannelGroupServiceSoap" type="tns:ChannelGroupServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannelGroupList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelGroupDetailList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelGroupDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_p">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList_p" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_Excel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList_Excel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelGroupUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelGroupUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelGroupCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelGroupCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelGroupDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelGroupDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChannelGroupServiceSoap12" type="tns:ChannelGroupServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannelGroupList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelGroupDetailList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelGroupDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_p">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList_p" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_Excel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList_Excel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelGroupUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelGroupUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelGroupCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelGroupCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelGroupDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelGroupDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChannelGroupService">
    <wsdl:port name="ChannelGroupServiceSoap" binding="tns:ChannelGroupServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/ChannelGroupService.asmx" />
    </wsdl:port>
    <wsdl:port name="ChannelGroupServiceSoap12" binding="tns:ChannelGroupServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/ChannelGroupService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>