dev/AdManagerClient/Web References/ChooseAdScheduleServiceProxy/ChooseAdScheduleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetMenuList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChooseAdScheduleModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ChooseAdScheduleDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SeriesNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleOrder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastOrder" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMenuListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuListResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wMenuList1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wMenuList1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wMenuList1Result" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelListResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList_0907a">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList_0907aResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelList_0907aResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSeriesList_0907a">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSeriesList_0907aResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSeriesList_0907aResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChooseAdScheduleListMenuResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListChannelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChooseAdScheduleListChannelResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListSeries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChooseAdScheduleListSeriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChooseAdScheduleListSeriesResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchMenuAdOrderFirst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchMenuAdOrderFirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchMenuAdOrderFirstResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchMenuAdOrderUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchMenuAdOrderUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchMenuAdOrderUpResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchMenuAdOrderDown">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchMenuAdOrderDownResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchMenuAdOrderDownResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchMenuAdOrderLast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchMenuAdOrderLastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchMenuAdOrderLastResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChannelAdOrderFirst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChannelAdOrderFirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChannelAdOrderFirstResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChannelAdOrderUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChannelAdOrderUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChannelAdOrderUpResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChannelAdOrderDown">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChannelAdOrderDownResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChannelAdOrderDownResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChannelAdOrderLast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="chooseAdScheduleModel" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchChannelAdOrderLastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchChannelAdOrderLastResult" type="tns:ChooseAdScheduleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMenuListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuList" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuListResponse" />
  </wsdl:message>
  <wsdl:message name="wMenuList1SoapIn">
    <wsdl:part name="parameters" element="tns:wMenuList1" />
  </wsdl:message>
  <wsdl:message name="wMenuList1SoapOut">
    <wsdl:part name="parameters" element="tns:wMenuList1Response" />
  </wsdl:message>
  <wsdl:message name="GetChannelListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelList" />
  </wsdl:message>
  <wsdl:message name="GetChannelListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelListResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelList_0907aSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelList_0907a" />
  </wsdl:message>
  <wsdl:message name="GetChannelList_0907aSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelList_0907aResponse" />
  </wsdl:message>
  <wsdl:message name="GetSeriesList_0907aSoapIn">
    <wsdl:part name="parameters" element="tns:GetSeriesList_0907a" />
  </wsdl:message>
  <wsdl:message name="GetSeriesList_0907aSoapOut">
    <wsdl:part name="parameters" element="tns:GetSeriesList_0907aResponse" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListMenuSoapIn">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListMenu" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListMenuSoapOut">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListMenuResponse" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListChannelSoapIn">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListChannel" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListChannelSoapOut">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListChannelResponse" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListSeriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListSeries" />
  </wsdl:message>
  <wsdl:message name="GetChooseAdScheduleListSeriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetChooseAdScheduleListSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchMenuAdOrderFirstSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchMenuAdOrderFirst" />
  </wsdl:message>
  <wsdl:message name="SetSchMenuAdOrderFirstSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchMenuAdOrderFirstResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchMenuAdOrderUpSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchMenuAdOrderUp" />
  </wsdl:message>
  <wsdl:message name="SetSchMenuAdOrderUpSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchMenuAdOrderUpResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchMenuAdOrderDownSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchMenuAdOrderDown" />
  </wsdl:message>
  <wsdl:message name="SetSchMenuAdOrderDownSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchMenuAdOrderDownResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchMenuAdOrderLastSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchMenuAdOrderLast" />
  </wsdl:message>
  <wsdl:message name="SetSchMenuAdOrderLastSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchMenuAdOrderLastResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChannelAdOrderFirstSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChannelAdOrderFirst" />
  </wsdl:message>
  <wsdl:message name="SetSchChannelAdOrderFirstSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChannelAdOrderFirstResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChannelAdOrderUpSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChannelAdOrderUp" />
  </wsdl:message>
  <wsdl:message name="SetSchChannelAdOrderUpSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChannelAdOrderUpResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChannelAdOrderDownSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChannelAdOrderDown" />
  </wsdl:message>
  <wsdl:message name="SetSchChannelAdOrderDownSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChannelAdOrderDownResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchChannelAdOrderLastSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchChannelAdOrderLast" />
  </wsdl:message>
  <wsdl:message name="SetSchChannelAdOrderLastSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchChannelAdOrderLastResponse" />
  </wsdl:message>
  <wsdl:portType name="ChooseAdScheduleServiceSoap">
    <wsdl:operation name="GetMenuList">
      <wsdl:input message="tns:GetMenuListSoapIn" />
      <wsdl:output message="tns:GetMenuListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wMenuList1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">카테고리/메뉴 목록데이터</wsdl:documentation>
      <wsdl:input message="tns:wMenuList1SoapIn" />
      <wsdl:output message="tns:wMenuList1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <wsdl:input message="tns:GetChannelListSoapIn" />
      <wsdl:output message="tns:GetChannelListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_0907a">
      <wsdl:input message="tns:GetChannelList_0907aSoapIn" />
      <wsdl:output message="tns:GetChannelList_0907aSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSeriesList_0907a">
      <wsdl:input message="tns:GetSeriesList_0907aSoapIn" />
      <wsdl:output message="tns:GetSeriesList_0907aSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListMenu">
      <wsdl:input message="tns:GetChooseAdScheduleListMenuSoapIn" />
      <wsdl:output message="tns:GetChooseAdScheduleListMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListChannel">
      <wsdl:input message="tns:GetChooseAdScheduleListChannelSoapIn" />
      <wsdl:output message="tns:GetChooseAdScheduleListChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListSeries">
      <wsdl:input message="tns:GetChooseAdScheduleListSeriesSoapIn" />
      <wsdl:output message="tns:GetChooseAdScheduleListSeriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderFirst">
      <wsdl:input message="tns:SetSchMenuAdOrderFirstSoapIn" />
      <wsdl:output message="tns:SetSchMenuAdOrderFirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderUp">
      <wsdl:input message="tns:SetSchMenuAdOrderUpSoapIn" />
      <wsdl:output message="tns:SetSchMenuAdOrderUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderDown">
      <wsdl:input message="tns:SetSchMenuAdOrderDownSoapIn" />
      <wsdl:output message="tns:SetSchMenuAdOrderDownSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderLast">
      <wsdl:input message="tns:SetSchMenuAdOrderLastSoapIn" />
      <wsdl:output message="tns:SetSchMenuAdOrderLastSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderFirst">
      <wsdl:input message="tns:SetSchChannelAdOrderFirstSoapIn" />
      <wsdl:output message="tns:SetSchChannelAdOrderFirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderUp">
      <wsdl:input message="tns:SetSchChannelAdOrderUpSoapIn" />
      <wsdl:output message="tns:SetSchChannelAdOrderUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderDown">
      <wsdl:input message="tns:SetSchChannelAdOrderDownSoapIn" />
      <wsdl:output message="tns:SetSchChannelAdOrderDownSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderLast">
      <wsdl:input message="tns:SetSchChannelAdOrderLastSoapIn" />
      <wsdl:output message="tns:SetSchChannelAdOrderLastSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChooseAdScheduleServiceSoap" type="tns:ChooseAdScheduleServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenuList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wMenuList1">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/wMenuList1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_0907a">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList_0907a" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeriesList_0907a">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSeriesList_0907a" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListMenu">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListChannel">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListSeries">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderFirst">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchMenuAdOrderFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderUp">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchMenuAdOrderUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderDown">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchMenuAdOrderDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderLast">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchMenuAdOrderLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderFirst">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChannelAdOrderFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderUp">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChannelAdOrderUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderDown">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChannelAdOrderDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderLast">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChannelAdOrderLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChooseAdScheduleServiceSoap12" type="tns:ChooseAdScheduleServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenuList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wMenuList1">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/wMenuList1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList_0907a">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList_0907a" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeriesList_0907a">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSeriesList_0907a" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListMenu">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListChannel">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChooseAdScheduleListSeries">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChooseAdScheduleListSeries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderFirst">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchMenuAdOrderFirst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderUp">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchMenuAdOrderUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderDown">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchMenuAdOrderDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchMenuAdOrderLast">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchMenuAdOrderLast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderFirst">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChannelAdOrderFirst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderUp">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChannelAdOrderUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderDown">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChannelAdOrderDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchChannelAdOrderLast">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchChannelAdOrderLast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChooseAdScheduleService">
    <wsdl:port name="ChooseAdScheduleServiceSoap" binding="tns:ChooseAdScheduleServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/ChooseAdScheduleService.asmx" />
    </wsdl:port>
    <wsdl:port name="ChooseAdScheduleServiceSoap12" binding="tns:ChooseAdScheduleServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/ChooseAdScheduleService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>