dev/AdManagerClient/Web References/DateAdTypeSummaryRptServicePloxy/DateAdTypeSummaryRptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetDateAdTypeSummaryRpt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:DateAdTypeSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateAdTypeSummaryRptModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ItemDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="LogDay1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LogDay2" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDateAdTypeSummaryRptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateAdTypeSummaryRptResult" type="tns:DateAdTypeSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeeklyAdTypeSummaryRpt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:DateAdTypeSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeeklyAdTypeSummaryRptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeeklyAdTypeSummaryRptResult" type="tns:DateAdTypeSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyAdTypeSummaryRpt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:DateAdTypeSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyAdTypeSummaryRptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMonthlyAdTypeSummaryRptResult" type="tns:DateAdTypeSummaryRptModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDateAdTypeSummaryRptSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateAdTypeSummaryRpt" />
  </wsdl:message>
  <wsdl:message name="GetDateAdTypeSummaryRptSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateAdTypeSummaryRptResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyAdTypeSummaryRptSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeeklyAdTypeSummaryRpt" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyAdTypeSummaryRptSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeeklyAdTypeSummaryRptResponse" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyAdTypeSummaryRptSoapIn">
    <wsdl:part name="parameters" element="tns:GetMonthlyAdTypeSummaryRpt" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyAdTypeSummaryRptSoapOut">
    <wsdl:part name="parameters" element="tns:GetMonthlyAdTypeSummaryRptResponse" />
  </wsdl:message>
  <wsdl:portType name="DateAdTypeSummaryRptServiceSoap">
    <wsdl:operation name="GetDateAdTypeSummaryRpt">
      <wsdl:input message="tns:GetDateAdTypeSummaryRptSoapIn" />
      <wsdl:output message="tns:GetDateAdTypeSummaryRptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyAdTypeSummaryRpt">
      <wsdl:input message="tns:GetWeeklyAdTypeSummaryRptSoapIn" />
      <wsdl:output message="tns:GetWeeklyAdTypeSummaryRptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyAdTypeSummaryRpt">
      <wsdl:input message="tns:GetMonthlyAdTypeSummaryRptSoapIn" />
      <wsdl:output message="tns:GetMonthlyAdTypeSummaryRptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DateAdTypeSummaryRptServiceSoap" type="tns:DateAdTypeSummaryRptServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateAdTypeSummaryRpt">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateAdTypeSummaryRpt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyAdTypeSummaryRpt">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetWeeklyAdTypeSummaryRpt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyAdTypeSummaryRpt">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMonthlyAdTypeSummaryRpt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DateAdTypeSummaryRptServiceSoap12" type="tns:DateAdTypeSummaryRptServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateAdTypeSummaryRpt">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetDateAdTypeSummaryRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyAdTypeSummaryRpt">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetWeeklyAdTypeSummaryRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyAdTypeSummaryRpt">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMonthlyAdTypeSummaryRpt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DateAdTypeSummaryRptService">
    <wsdl:port name="DateAdTypeSummaryRptServiceSoap" binding="tns:DateAdTypeSummaryRptServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/DateAdTypeSummaryRptService.asmx" />
    </wsdl:port>
    <wsdl:port name="DateAdTypeSummaryRptServiceSoap12" binding="tns:DateAdTypeSummaryRptServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportSummaryAd/DateAdTypeSummaryRptService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>