dev/AdManagerClient/Web References/USS/ISkbUssWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://webService.skbUss" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://webService.skbUss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webService.skbUss">
      <xsd:element name="skbUssWebService">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="skbUssWebServiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="skbUssWebServiceResponse">
    <wsdl:part name="parameters" element="tns:skbUssWebServiceResponse" />
  </wsdl:message>
  <wsdl:message name="skbUssWebServiceRequest">
    <wsdl:part name="parameters" element="tns:skbUssWebService" />
  </wsdl:message>
  <wsdl:portType name="ISkbUssWebServicePortType">
    <wsdl:operation name="skbUssWebService">
      <wsdl:input name="skbUssWebServiceRequest" message="tns:skbUssWebServiceRequest" />
      <wsdl:output name="skbUssWebServiceResponse" message="tns:skbUssWebServiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISkbUssWebServiceHttpBinding" type="tns:ISkbUssWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="skbUssWebService">
      <soap:operation soapAction="" />
      <wsdl:input name="skbUssWebServiceRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="skbUssWebServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISkbUssWebService">
    <wsdl:port name="ISkbUssWebServiceHttpPort" binding="tns:ISkbUssWebServiceHttpBinding">
      <soap:address location="http://114.205.1.189:8080/entBoxWebService/ISkbUssWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>