dev/AdManagerClient/Web References/ChannelJumpServicePloxy/ChannelJumpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetChannelJumpList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChannelJumpModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ChannelJumpDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ContractItemDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ChannelListDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ContentListDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="AdPopListDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchJumpType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JumpType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GenreName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContentID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PopupID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PopupTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelManager" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HomeYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChannelYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StbTypeYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StbTypeString" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChannelJumpListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelJumpListResult" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentListPopUrl">
        <s:complexType />
      </s:element>
      <s:element name="GetContentListPopUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentListPopUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelJump">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelJumpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelJumpResult" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelJumpCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelJumpCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetChannelJumpCreateResult" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelJumpUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelJumpUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetChannelJumpUpdateResult" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelJumpDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChannelJumpDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetChannelJumpDeleteResult" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListResult" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelListResult" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentListResult" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdPopList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdPopListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdPopListResult" type="tns:ChannelJumpModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChannelJumpListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelJumpList" />
  </wsdl:message>
  <wsdl:message name="GetChannelJumpListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelJumpListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentListPopUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentListPopUrl" />
  </wsdl:message>
  <wsdl:message name="GetContentListPopUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentListPopUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelJumpSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelJump" />
  </wsdl:message>
  <wsdl:message name="GetChannelJumpSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelJumpResponse" />
  </wsdl:message>
  <wsdl:message name="SetChannelJumpCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetChannelJumpCreate" />
  </wsdl:message>
  <wsdl:message name="SetChannelJumpCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetChannelJumpCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetChannelJumpUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetChannelJumpUpdate" />
  </wsdl:message>
  <wsdl:message name="SetChannelJumpUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetChannelJumpUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetChannelJumpDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetChannelJumpDelete" />
  </wsdl:message>
  <wsdl:message name="SetChannelJumpDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetChannelJumpDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelList" />
  </wsdl:message>
  <wsdl:message name="GetChannelListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentList" />
  </wsdl:message>
  <wsdl:message name="GetContentListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdPopListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdPopList" />
  </wsdl:message>
  <wsdl:message name="GetAdPopListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdPopListResponse" />
  </wsdl:message>
  <wsdl:portType name="ChannelJumpServiceSoap">
    <wsdl:operation name="GetChannelJumpList">
      <wsdl:input message="tns:GetChannelJumpListSoapIn" />
      <wsdl:output message="tns:GetChannelJumpListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentListPopUrl">
      <wsdl:input message="tns:GetContentListPopUrlSoapIn" />
      <wsdl:output message="tns:GetContentListPopUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelJump">
      <wsdl:input message="tns:GetChannelJumpSoapIn" />
      <wsdl:output message="tns:GetChannelJumpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChannelJumpCreate">
      <wsdl:input message="tns:SetChannelJumpCreateSoapIn" />
      <wsdl:output message="tns:SetChannelJumpCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChannelJumpUpdate">
      <wsdl:input message="tns:SetChannelJumpUpdateSoapIn" />
      <wsdl:output message="tns:SetChannelJumpUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChannelJumpDelete">
      <wsdl:input message="tns:SetChannelJumpDeleteSoapIn" />
      <wsdl:output message="tns:SetChannelJumpDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <wsdl:input message="tns:GetContractItemListSoapIn" />
      <wsdl:output message="tns:GetContractItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <wsdl:input message="tns:GetChannelListSoapIn" />
      <wsdl:output message="tns:GetChannelListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentList">
      <wsdl:input message="tns:GetContentListSoapIn" />
      <wsdl:output message="tns:GetContentListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdPopList">
      <wsdl:input message="tns:GetAdPopListSoapIn" />
      <wsdl:output message="tns:GetAdPopListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChannelJumpServiceSoap" type="tns:ChannelJumpServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannelJumpList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelJumpList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentListPopUrl">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentListPopUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelJump">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelJump" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelJumpCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelJumpCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelJumpUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelJumpUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelJumpDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelJumpDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdPopList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdPopList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChannelJumpServiceSoap12" type="tns:ChannelJumpServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannelJumpList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelJumpList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentListPopUrl">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentListPopUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelJump">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelJump" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelJumpCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelJumpCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelJumpUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelJumpUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChannelJumpDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetChannelJumpDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetChannelList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdPopList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetAdPopList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChannelJumpService">
    <wsdl:port name="ChannelJumpServiceSoap" binding="tns:ChannelJumpServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/ChannelJumpService.asmx" />
    </wsdl:port>
    <wsdl:port name="ChannelJumpServiceSoap12" binding="tns:ChannelJumpServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/ChannelJumpService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>