dev/AdManagerClient/Web References/MediaMenuServiceRef/MediaMenuService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetCategoryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MediaMenuModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mType" type="tns:MediaMenuType" />
              <s:element minOccurs="1" maxOccurs="1" name="mValue" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UserDataset">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryAdPreRollYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryAdMidRollYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryAdPostRollYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryAdPayYn" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CategoryAdRate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CategoryAdNRate" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuAdPreRollYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuAdMidRollYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuAdPostRollYn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuAdPayYn" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MenuAdRate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MenuAdNRate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ReplayYnCheck" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ReplayPPxCheck" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RendingYnCheck" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="InvalidityMenu" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MediaMenuType">
        <s:restriction base="s:string">
          <s:enumeration value="Reply" />
          <s:enumeration value="ReplyPPx" />
          <s:enumeration value="REnding" />
          <s:enumeration value="None" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetCategoryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryListResult" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuListResult" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCategoryUpdateResult" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryUpdateOption">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryUpdateOptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCategoryUpdateOptionResult" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMenuUpdateResult" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuUpdateOption">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuUpdateOptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMenuUpdateOptionResult" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteMenuResult" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCategoryCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCategoryCreateResult" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMenuCreateResult" type="tns:MediaMenuModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCategoryListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="GetCategoryListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuList" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuListResponse" />
  </wsdl:message>
  <wsdl:message name="SetCategoryUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetCategoryUpdate" />
  </wsdl:message>
  <wsdl:message name="SetCategoryUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetCategoryUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetCategoryUpdateOptionSoapIn">
    <wsdl:part name="parameters" element="tns:SetCategoryUpdateOption" />
  </wsdl:message>
  <wsdl:message name="SetCategoryUpdateOptionSoapOut">
    <wsdl:part name="parameters" element="tns:SetCategoryUpdateOptionResponse" />
  </wsdl:message>
  <wsdl:message name="SetMenuUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetMenuUpdate" />
  </wsdl:message>
  <wsdl:message name="SetMenuUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetMenuUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetMenuUpdateOptionSoapIn">
    <wsdl:part name="parameters" element="tns:SetMenuUpdateOption" />
  </wsdl:message>
  <wsdl:message name="SetMenuUpdateOptionSoapOut">
    <wsdl:part name="parameters" element="tns:SetMenuUpdateOptionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMenuSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMenu" />
  </wsdl:message>
  <wsdl:message name="DeleteMenuSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMenuResponse" />
  </wsdl:message>
  <wsdl:message name="SetCategoryCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetCategoryCreate" />
  </wsdl:message>
  <wsdl:message name="SetCategoryCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetCategoryCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetMenuCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetMenuCreate" />
  </wsdl:message>
  <wsdl:message name="SetMenuCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetMenuCreateResponse" />
  </wsdl:message>
  <wsdl:portType name="MediaMenuServiceSoap">
    <wsdl:operation name="GetCategoryList">
      <wsdl:input message="tns:GetCategoryListSoapIn" />
      <wsdl:output message="tns:GetCategoryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <wsdl:input message="tns:GetMenuListSoapIn" />
      <wsdl:output message="tns:GetMenuListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCategoryUpdate">
      <wsdl:input message="tns:SetCategoryUpdateSoapIn" />
      <wsdl:output message="tns:SetCategoryUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCategoryUpdateOption">
      <wsdl:input message="tns:SetCategoryUpdateOptionSoapIn" />
      <wsdl:output message="tns:SetCategoryUpdateOptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMenuUpdate">
      <wsdl:input message="tns:SetMenuUpdateSoapIn" />
      <wsdl:output message="tns:SetMenuUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMenuUpdateOption">
      <wsdl:input message="tns:SetMenuUpdateOptionSoapIn" />
      <wsdl:output message="tns:SetMenuUpdateOptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMenu">
      <wsdl:input message="tns:DeleteMenuSoapIn" />
      <wsdl:output message="tns:DeleteMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCategoryCreate">
      <wsdl:input message="tns:SetCategoryCreateSoapIn" />
      <wsdl:output message="tns:SetCategoryCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMenuCreate">
      <wsdl:input message="tns:SetMenuCreateSoapIn" />
      <wsdl:output message="tns:SetMenuCreateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediaMenuServiceSoap" type="tns:MediaMenuServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryUpdateOption">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryUpdateOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuUpdateOption">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuUpdateOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMenu">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/DeleteMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediaMenuServiceSoap12" type="tns:MediaMenuServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetMenuList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryUpdateOption">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryUpdateOption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuUpdateOption">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuUpdateOption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMenu">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/DeleteMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCategoryCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetMenuCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaMenuService">
    <wsdl:port name="MediaMenuServiceSoap" binding="tns:MediaMenuServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebservice/Media/MediaMenuService.asmx" />
    </wsdl:port>
    <wsdl:port name="MediaMenuServiceSoap12" binding="tns:MediaMenuServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebservice/Media/MediaMenuService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>