dev/AdManagerClient/Web References/SchAppendAdServicePloxy/SchAppendAdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetSchAppendAdList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchAppendAdModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FileListCount" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchMediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchRapCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAgencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdvertiserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchContractState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchAdClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_20" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_30" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchchkAdState_40" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MediaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScheduleOrder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastOrder" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSchAppendAdListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchAppendAdListResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractItemListResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchAppendSearchResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchAppendAdCreateResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdDelete_To">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdDelete_ToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchAppendAdDelete_ToResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdCreate_To">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdCreate_ToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchAppendAdCreate_ToResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchAppendAdDeleteResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdOrderFirst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdOrderFirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchAppendAdOrderFirstResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdOrderUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdOrderUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchAppendAdOrderUpResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdOrderDown">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdOrderDownResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchAppendAdOrderDownResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdOrderLast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="schAppendAdModel" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchAppendAdOrderLastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSchAppendAdOrderLastResult" type="tns:SchAppendAdModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSchAppendAdListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchAppendAdList" />
  </wsdl:message>
  <wsdl:message name="GetSchAppendAdListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchAppendAdListResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractItemList" />
  </wsdl:message>
  <wsdl:message name="GetContractItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractItemListResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendSearchSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchAppendSearch" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendSearchSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchAppendSearchResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdCreate" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdDelete_ToSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdDelete_To" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdDelete_ToSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdDelete_ToResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdCreate_ToSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdCreate_To" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdCreate_ToSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdCreate_ToResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdDelete" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdOrderFirstSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdOrderFirst" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdOrderFirstSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdOrderFirstResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdOrderUpSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdOrderUp" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdOrderUpSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdOrderUpResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdOrderDownSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdOrderDown" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdOrderDownSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdOrderDownResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdOrderLastSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdOrderLast" />
  </wsdl:message>
  <wsdl:message name="SetSchAppendAdOrderLastSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchAppendAdOrderLastResponse" />
  </wsdl:message>
  <wsdl:portType name="SchAppendAdServiceSoap">
    <wsdl:operation name="GetSchAppendAdList">
      <wsdl:input message="tns:GetSchAppendAdListSoapIn" />
      <wsdl:output message="tns:GetSchAppendAdListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <wsdl:input message="tns:GetContractItemListSoapIn" />
      <wsdl:output message="tns:GetContractItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendSearch">
      <wsdl:input message="tns:SetSchAppendSearchSoapIn" />
      <wsdl:output message="tns:SetSchAppendSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdCreate">
      <wsdl:input message="tns:SetSchAppendAdCreateSoapIn" />
      <wsdl:output message="tns:SetSchAppendAdCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdDelete_To">
      <wsdl:input message="tns:SetSchAppendAdDelete_ToSoapIn" />
      <wsdl:output message="tns:SetSchAppendAdDelete_ToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdCreate_To">
      <wsdl:input message="tns:SetSchAppendAdCreate_ToSoapIn" />
      <wsdl:output message="tns:SetSchAppendAdCreate_ToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdDelete">
      <wsdl:input message="tns:SetSchAppendAdDeleteSoapIn" />
      <wsdl:output message="tns:SetSchAppendAdDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderFirst">
      <wsdl:input message="tns:SetSchAppendAdOrderFirstSoapIn" />
      <wsdl:output message="tns:SetSchAppendAdOrderFirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderUp">
      <wsdl:input message="tns:SetSchAppendAdOrderUpSoapIn" />
      <wsdl:output message="tns:SetSchAppendAdOrderUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderDown">
      <wsdl:input message="tns:SetSchAppendAdOrderDownSoapIn" />
      <wsdl:output message="tns:SetSchAppendAdOrderDownSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderLast">
      <wsdl:input message="tns:SetSchAppendAdOrderLastSoapIn" />
      <wsdl:output message="tns:SetSchAppendAdOrderLastSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchAppendAdServiceSoap" type="tns:SchAppendAdServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchAppendAdList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchAppendAdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendSearch">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdDelete_To">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdDelete_To" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdCreate_To">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdCreate_To" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderFirst">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdOrderFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderUp">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdOrderUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderDown">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdOrderDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderLast">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdOrderLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchAppendAdServiceSoap12" type="tns:SchAppendAdServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchAppendAdList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSchAppendAdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractItemList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetContractItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendSearch">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdDelete_To">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdDelete_To" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdCreate_To">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdCreate_To" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderFirst">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdOrderFirst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderUp">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdOrderUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderDown">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdOrderDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchAppendAdOrderLast">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSchAppendAdOrderLast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchAppendAdService">
    <wsdl:port name="SchAppendAdServiceSoap" binding="tns:SchAppendAdServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchAppendAdService.asmx" />
    </wsdl:port>
    <wsdl:port name="SchAppendAdServiceSoap12" binding="tns:SchAppendAdServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Schedule/SchAppendAdService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>