dev/AdManagerClient/Web References/CodeServicePloxy/CodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetSectionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="codeModel" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CodeModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SearchSection" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Section" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Section_old" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code_old" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodeDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSectionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSectionListResult" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="codeModel" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCodeListResult" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSectionUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="codeModel" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSectionUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSectionUpdateResult" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCodeUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="codeModel" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCodeUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCodeUpdateResult" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCodeCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="codeModel" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCodeCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCodeCreateResult" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCodeDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="codeModel" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCodeDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCodeDeleteResult" type="tns:CodeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSectionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSectionList" />
  </wsdl:message>
  <wsdl:message name="GetSectionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSectionListResponse" />
  </wsdl:message>
  <wsdl:message name="GetCodeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCodeList" />
  </wsdl:message>
  <wsdl:message name="GetCodeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCodeListResponse" />
  </wsdl:message>
  <wsdl:message name="SetSectionUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetSectionUpdate" />
  </wsdl:message>
  <wsdl:message name="SetSectionUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetSectionUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetCodeUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SetCodeUpdate" />
  </wsdl:message>
  <wsdl:message name="SetCodeUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SetCodeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetCodeCreateSoapIn">
    <wsdl:part name="parameters" element="tns:SetCodeCreate" />
  </wsdl:message>
  <wsdl:message name="SetCodeCreateSoapOut">
    <wsdl:part name="parameters" element="tns:SetCodeCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SetCodeDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SetCodeDelete" />
  </wsdl:message>
  <wsdl:message name="SetCodeDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SetCodeDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="CodeServiceSoap">
    <wsdl:operation name="GetSectionList">
      <wsdl:input message="tns:GetSectionListSoapIn" />
      <wsdl:output message="tns:GetSectionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeList">
      <wsdl:input message="tns:GetCodeListSoapIn" />
      <wsdl:output message="tns:GetCodeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSectionUpdate">
      <wsdl:input message="tns:SetSectionUpdateSoapIn" />
      <wsdl:output message="tns:SetSectionUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCodeUpdate">
      <wsdl:input message="tns:SetCodeUpdateSoapIn" />
      <wsdl:output message="tns:SetCodeUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCodeCreate">
      <wsdl:input message="tns:SetCodeCreateSoapIn" />
      <wsdl:output message="tns:SetCodeCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCodeDelete">
      <wsdl:input message="tns:SetCodeDeleteSoapIn" />
      <wsdl:output message="tns:SetCodeDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CodeServiceSoap" type="tns:CodeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSectionList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSectionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeList">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSectionUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSectionUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCodeUpdate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCodeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCodeCreate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCodeCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCodeDelete">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCodeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CodeServiceSoap12" type="tns:CodeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSectionList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetSectionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeList">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetCodeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSectionUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetSectionUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCodeUpdate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCodeUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCodeCreate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCodeCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCodeDelete">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/SetCodeDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeService">
    <wsdl:port name="CodeServiceSoap" binding="tns:CodeServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/Common/CodeService.asmx" />
    </wsdl:port>
    <wsdl:port name="CodeServiceSoap12" binding="tns:CodeServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/Common/CodeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>