dev/AdManagerClient/Web References/RegionDateServicePloxy/RegionDateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://advmgt.hanafostv.com/AdManagerWebService/">
      <s:element name="GetRegionDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:HeaderModel" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:RegionDateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HeaderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegionDateModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="HeaderDataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo5" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo6" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo7" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo8" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo9" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemNo10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StartDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractSeq" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRegionDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegionDateResult" type="tns:RegionDateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRegionDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegionDate" />
  </wsdl:message>
  <wsdl:message name="GetRegionDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegionDateResponse" />
  </wsdl:message>
  <wsdl:portType name="RegionDateServiceSoap">
    <wsdl:operation name="GetRegionDate">
      <wsdl:input message="tns:GetRegionDateSoapIn" />
      <wsdl:output message="tns:GetRegionDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegionDateServiceSoap" type="tns:RegionDateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRegionDate">
      <soap:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetRegionDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegionDateServiceSoap12" type="tns:RegionDateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRegionDate">
      <soap12:operation soapAction="http://advmgt.hanafostv.com/AdManagerWebService/GetRegionDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegionDateService">
    <wsdl:port name="RegionDateServiceSoap" binding="tns:RegionDateServiceSoap">
      <soap:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/RegionDateService.asmx" />
    </wsdl:port>
    <wsdl:port name="RegionDateServiceSoap12" binding="tns:RegionDateServiceSoap12">
      <soap12:address location="http://localhost:8086/AdManagerWebserviceV5/ReportAd/RegionDateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>